draft-schemas/su-core/2.0/StatisticalUnitCore.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hh="http://inspire.jrc.ec.europa.eu/schemas/hh/2.0" xmlns:su-core="http://inspire.jrc.ec.europa.eu/schemas/su-core/2.0" elementFormDefault="qualified" targetNamespace="http://inspire.jrc.ec.europa.eu/schemas/su-core/2.0" version="2.0">
  <annotation>
    <documentation>-- Definition --
The core package. It provides most abstract classes required to link the grid and vector view of statistical units.</documentation>
  </annotation>
  <import namespace="http://inspire.jrc.ec.europa.eu/schemas/hh/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/hh/2.0/HumanHealth.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element abstract="true" name="StatisticalUnit" substitutionGroup="gml:AbstractFeature" type="su-core:StatisticalUnitType">
    <annotation>
      <documentation>-- Definition --
Unit for dissemination or use of statistical information.

-- Description --
SOURCE [INSPIRE Directive:2007].

EXAMPLE grid cell, point, line, polygon.

NOTE Spatial features of any INSPIRE application schema can be considered as a statistical unit, because all can be used as spatial reference. This class is provided to represent features that are used only to disseminate statistical information and that are not included in another INSPIRE application schema.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="StatisticalUnitType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="refers" type="hh:HealthServicesStatisticPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StatisticalUnitPropertyType">
    <sequence minOccurs="0">
      <element ref="su-core:StatisticalUnit"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
