draft-schemas/hy-p/3.1rc1/HydroPhysicalWatersCT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:hy="urn:x-inspire:specification:gmlas:HydroBase:3.0" xmlns:hy-p="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" xmlns:base-cl="http://inspire.ec.europa.eu/schemas/base-cl/1.0" targetNamespace="urn:x-inspire:specification:gmlas:HydroPhysicalWaters:3.0" elementFormDefault="qualified" version="1.1rc1">
	<import namespace="urn:x-inspire:specification:gmlas:HydroBase:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/hy/3.0/HydroBase.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/gn/3.0/GeographicalNames.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/base-cl/1.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/base-cl/1.0rc1/codelists.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="Shore" type="hy-p:ShoreType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Definition --&#13;
The narrow strip of land in immediate contact with any body of water including the area between high and low water lines.&#13;
&#13;
-- Description --&#13;
SOURCE [IHO S-32].&#13;
&#13;
NOTE Regarded as a candidate spatial object in Annex II theme 'Land cover' due to unconsolidated shore inclusion in coastal land-cover classificaction schemes.</documentation>
		</annotation>
	</element>
	<complexType name="ShoreType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="geographicalName" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="gn:GeographicalName"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="hydroId" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="hy:HydroIdentifier"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="relatedHydroObject" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="composition" type="base-cl:CodeListType" nillable="true">
						<annotation>
							<documentation>-- Definition --&#13;
&lt;font color="#1a1a1a"&gt;The primary type(s) of material composing a spatial object, exclusive of the surface.&lt;/font&gt;&#13;
&#13;
-- Description --&#13;
&lt;font color="#1a1a1a"&gt;SOURCE  [Based on DFDD].&lt;/font&gt;&#13;
&#13;
&lt;font color="#1a1a1a"&gt;NOTE The basis for 'primary' may be, for example, compositional dominance or structural organization.&lt;/font&gt;</documentation>
						</annotation>
					</element>
					<element name="delineationKnown" nillable="true">
						<annotation>
							<documentation>-- Definition --&#13;
An indication that the delineation (for example: limits and information) of a spatial object is known.&#13;
&#13;
-- Description --&#13;
SOURCE [Based on DFDD].</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="endLifespanVersion" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<choice>
						<element name="geometry">
							<annotation>
								<documentation>-- Definition --&#13;The geometry of the shore, as a Surface or MultiSurface.</documentation>
							</annotation>
							<complexType>
								<sequence minOccurs="0">
									<element ref="gml:AbstractSurface" minOccurs="0"/>
									<element ref="gml:MultiSurface" minOccurs="0"/>
								</sequence>
								<attributeGroup ref="gml:AssociationAttributeGroup"/>
								<attributeGroup ref="gml:OwnershipAttributeGroup"/>
							</complexType>
						</element>
					</choice>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ShorePropertyType">
		<sequence minOccurs="0">
			<element ref="hy-p:Shore"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Wetland" type="hy-p:WetlandType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Definition --&#13;
A poorly drained or periodically flooded area where the soil is saturated with water, and vegetation is supported.&#13;
&#13;
-- Description --&#13;
SOURCE [EuroRegionalMap].&#13;
&#13;
EXAMPLE Marsh/swamp, bog/moor.&#13;
&#13;
NOTE Regarded as a candidate spatial object in Annex II theme 'Land cover' due to explicit mention in 2007/2/EC Ann. II 2.</documentation>
		</annotation>
	</element>
	<complexType name="WetlandType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="geographicalName" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --&#13;
A geographical name that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
EXAMPLE A standing water in a mapping view may share the same geographical name as a WFD lake in a reporting view, implying they are both representations of the same real world object.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="gn:GeographicalName"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="hydroId" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --&#13;
An identifier that is used to identify a hydrographic object in the real world. It provides a 'key' for implicitly associating different representations of the object.&#13;
&#13;
-- Description --&#13;
NOTE 1 The identifier may be a national hydrological identification code.&#13;
&#13;
NOTE 2 More than one identifier may be required, for instance a watercourse may be assigned different identifying codes under national and European schemes.&#13;
&#13;
EXAMPLE A lock in a mapping view may share the same identifier as a hydro node in a network view, implying they are both representations of the same real world object.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="hy:HydroIdentifier"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="relatedHydroObject" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --&#13;
A related hydrographic object representing the same real-world entity.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">hy:HydroObject</targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.&#13;
</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="endLifespanVersion" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --&#13;
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.&#13;
</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="geometry" type="gml:SurfacePropertyType">
						<annotation>
							<documentation>-- Definition --&#13;
The geometry of the wetland, as a surface.</documentation>
						</annotation>
					</element>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --&#13;
External object identifier of the spatial object.&#13;
&#13;
-- Description --&#13;
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.&#13;
</documentation>
						</annotation>
					</element>
					<element name="localType" type="gmd:LocalisedCharacterString_PropertyType" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --&#13;
Provides 'local' name for the type of wetland.&#13;
&#13;
-- Description --&#13;
EXAMPLE Bog, swamp.</documentation>
						</annotation>
					</element>
					<element name="tidal" nillable="true">
						<annotation>
							<documentation>-- Definition --&#13;
Identifies whether the wetland is affected by tidal water.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="WetlandPropertyType">
		<sequence minOccurs="0">
			<element ref="hy-p:Wetland"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Embankment" type="hy-p:EmbankmentType" substitutionGroup="hy-p:ManMadeObject">
		<annotation>
			<documentation>-- Definition --&#13;
A man-made raised long mound of earth or other material.&#13;
&#13;
-- Description --&#13;
SOURCE [DFDD].&#13;
&#13;
NOTE 1 Includes retaining walls, harbours, dikes.&#13;
&#13;
NOTE 2 Regarded as a candidate spatial object in Annex III theme 'Natural risk zones' due to its role in limiting flooding.&#13;
</documentation>
		</annotation>
	</element>
	<complexType name="EmbankmentType">
		<complexContent>
			<extension base="hy-p:ManMadeObjectType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EmbankmentPropertyType">
		<sequence minOccurs="0">
			<element ref="hy-p:Embankment"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
