draft-schemas/emf/3.0rc2/EnvironmentalManagementFacilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:act-core="http://inspire.ec.europa.eu/schemas/act-core/3.0rc2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:null="http://inspire.ec.europa.eu/schemas/emf/3.0rc2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" targetNamespace="http://inspire.ec.europa.eu/schemas/emf/3.0rc2" elementFormDefault="qualified" version="3.0rc2">
	<import namespace="http://inspire.ec.europa.eu/schemas/act-core/3.0rc2" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/act-core/3.0rc2/ActivityComplex_Core.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="EnvironmentalManagementFacility" substitutionGroup="act-core:ActivityComplex">
		<annotation>
			<documentation>-- Name -- environmental management facility

-- Definition --
A physical structure designed, built or installed to serve specific functions in relation to environmental material flows, such as waste or waste water flows, or a delimitable area of land or water used to serve such functions.

-- Description --
EXAMPLE In the context of waste management the "specific function" may be a waste recovery or disposal operation. Typically, waste management sites and waste management installations (such as incineration plants, landfills or storages) get distinguished. Multiple waste management installations may be found at the same site. Waste management installations can be a part of other waste management installations.

The functions considered for the Environmental Facilities Theme fall mainly under the NACE rev. 2 category E "Water supply; Sewerage; Waste management and remediation activities".</documentation>
		</annotation>
	</element>
	<complexType name="EnvironmentalManagementFacilityType">
		<complexContent>
			<extension base="act-core:ActivityComplexType">
				<sequence>
					<element name="type" type="gml:ReferenceType" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name -- type

-- Definition --
The type of facility, such as installation or site.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">narrower</taggedValue>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/EnvironmentalFacilityType</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="serviceHours" type="gmd:PT_FreeText_PropertyType" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Name --
service hours

-- Definition --
Service hours of the facility.</documentation>
						</annotation>
					</element>
					<element name="facilityDescription" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Name --
facility description

-- Definition --
Additional information on an Environmental Management Facilities, including its address, a contact, related parties and a free text description.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="act-core:ActivityComplexDescription"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="parentFacility" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name --
parent facility

-- Definition --
A parent facility, i.e., a facility to which this facility belongs.

-- Description --
A facility may belong to multiple other facilities.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EnvironmentalManagementFacilityPropertyType">
		<sequence minOccurs="0">
			
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
