draft-schemas/gph-core/3.0rc2/GeophysicsCore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/0.1rc2" xmlns:ge_gp="http://inspire.ec.europa.eu/schemas/ge_gp/3.0rc2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" targetNamespace="http://inspire.ec.europa.eu/schemas/ge_gp/3.0rc2" elementFormDefault="qualified" version="3.0rc2">
	<import namespace="http://inspire.ec.europa.eu/schemas/base2/0.1rc2" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/base2/0.1rc2/BaseTypes2.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/samplingSpatial/2.0" schemaLocation="http://schemas.opengis.net/samplingSpatial/2.0/spatialSamplingFeature.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="GeophProfile" type="ge_gp:GeophProfileType" substitutionGroup="ge_gp:GeophMeasurement">
		<annotation>
			<documentation>-- Definition --
Geophysical measurement spatially referenced to a curve

-- Description --
Used to collect data along a curve. Examples: 2D seismic line (field measurement), borehole logging, airborne geophysical flight line

NOTE1. Processing results of geophProfiles are often vertical surface coverages</documentation>
		</annotation>
	</element>
	<complexType name="GeophProfileType">
		<complexContent>
			<extension base="ge_gp:GeophMeasurementType">
				<sequence>
					<element name="profileType" type="gml:CodeType">
						<annotation>
							<documentation>-- Definition --
Type of geophysical profile</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeophProfilePropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:GeophProfile"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="projectedOutline" type="ge_gp:projectedOutlineType" substitutionGroup="ge_gp:ProjectedGeometry">
		<annotation>
			<documentation>-- Definition --
Representative bounding polygon of the related geophysical object or object set.</documentation>
		</annotation>
	</element>
	<complexType name="projectedOutlineType">
		<complexContent>
			<extension base="ge_gp:ProjectedGeometryType">
				<sequence>
					<element name="geometry">
						<annotation>
							<documentation>-- Definition --
Polygon geometry to be displayed on a map</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gml:PolygonPatch"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="projectedOutlinePropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:projectedOutline"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeophObjectSet" type="ge_gp:GeophObjectSetType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>-- Definition --
Generic class for collections of geophysical objects

-- Description --
It is a set of geophysical objects that are grouped by some common property. p.e: created in the same measuring campaign. GeophObjectSets are used for spatial sampling either by means of data acquisition or data processing. The produced  result of a geophObjectSet is always collective, e.g. a map constructed from the results of the individual member objects.</documentation>
		</annotation>
	</element>
	<complexType name="GeophObjectSetType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --
External object identifier of the measurement.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
						</annotation>
					</element>
					<element name="citation">
						<annotation>
							<documentation>-- Definition --
Citation of geophysical documentation

-- Description --
Used for title,  date of related documentation and URL for  online access. At the minimum a short name (title) shall be given.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="base2:DocumentCitation"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="verticalExtent" nillable="true">
						<annotation>
							<documentation>-- Definition --
Vertical extent of the range of interest. 

-- Description --
This parameter serves discovery purposes. It may refer both to the vertical extent of the setup of measurements within the survey, or the extent of the range where processed data is spatially referenced to (estimated depth of investigation). The aim is to give an idea to the user about the estimated depth of investigation.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence minOccurs="0">
										<element ref="gmd:EX_VerticalExtent"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="distributionInfo" nillable="true">
						<annotation>
							<documentation>-- Definition --
Distribution metadata

-- Description --
Data providers may use external services to provide access to data or information on a survey. Links to the access points, description of ordering procedures, fees can be added in distributionInfo that is an ISO MD_Distributor record.</documentation>
						</annotation>
					</element>
					<element name="projectedGeometry" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
2D projection of the feature to the ground surface. This is going to be used by WMS to display the feature on a map

-- Description --
Projected geometry of the object set  (survey), that is usually the bounding polygon of the working area.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="ge_gp:ProjectedGeometry"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="largerWork" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Identifier of a larger work dataset

-- Description --
The largerWork identifier points to the parent Campaign or Project</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="base:Identifier"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeophObjectSetPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:GeophObjectSet"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ProjectedGeometry" type="ge_gp:ProjectedGeometryType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Definition --
2D projection of the feature to the ground surface. This is going to be used by WMS to display the feature location</documentation>
		</annotation>
	</element>
	<complexType name="ProjectedGeometryType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ProjectedGeometryPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:ProjectedGeometry"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeophSwath" type="ge_gp:GeophSwathType" substitutionGroup="ge_gp:GeophMeasurement">
		<annotation>
			<documentation>-- Definition --
Geophysical measurement spatially referenced to a surface

-- Description --
Used to collect data over a surface. Example: 3D seismic swath

NOTE1. Processing results of geophSwaths can be both surface and solid coverages</documentation>
		</annotation>
	</element>
	<complexType name="GeophSwathType">
		<complexContent>
			<extension base="ge_gp:GeophMeasurementType">
				<sequence>
					<element name="swathType" type="gml:CodeType">
						<annotation>
							<documentation>-- Definition --
Type of geophysical swath</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeophSwathPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:GeophSwath"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="projectedPoint" type="ge_gp:projectedPointType" substitutionGroup="ge_gp:ProjectedGeometry">
		<annotation>
			<documentation>-- Definition --
representative point of the related geophysical object</documentation>
		</annotation>
	</element>
	<complexType name="projectedPointType">
		<complexContent>
			<extension base="ge_gp:ProjectedGeometryType">
				<sequence>
					<element name="geometry" type="gml:PointPropertyType">
						<annotation>
							<documentation>-- Definition --
Point geometry to be displayed on a map</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="projectedPointPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:projectedPoint"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="projectedTrack" type="ge_gp:projectedTrackType" substitutionGroup="ge_gp:ProjectedGeometry">
		<annotation>
			<documentation>-- Definition --
Representative curve of the related geophysical object.</documentation>
		</annotation>
	</element>
	<complexType name="projectedTrackType">
		<complexContent>
			<extension base="ge_gp:ProjectedGeometryType">
				<sequence>
					<element name="geometry" type="gml:CurvePropertyType">
						<annotation>
							<documentation>-- Definition --
Curve geometry to be displayed on a map.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="projectedTrackPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:projectedTrack"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeophStation" type="ge_gp:GeophStationType" substitutionGroup="ge_gp:GeophMeasurement">
		<annotation>
			<documentation>-- Definition --
Geophysical measurement spatially referenced to a single point location

-- Description --
Used to collect data at a single location. The source-sensor setup may be elongated or two dimensional, but the collected data is spatially referenced to a single point. Example: Gravity station, Magnetic station

NOTE 1. Processing results of geophStations are often vertical curve coverages</documentation>
		</annotation>
	</element>
	<complexType name="GeophStationType">
		<complexContent>
			<extension base="ge_gp:GeophMeasurementType">
				<sequence>
					<element name="stationType" type="gml:CodeType">
						<annotation>
							<documentation>-- Definition --
Type of geophysical station</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="stationRank" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Geophysical stations may be part of a hierarchical system. Rank is proportional to the importance of a station 

-- Description --
Significance of stations can be very different even for the same geophysical method. Rank maz take the following values: 1stOrderBase, 2ndOrderBase, secularStation, observatory. Base stations are used to tie local measurements to higher level networks. Secular stations are visited from time to time to detect long term temporal changes of physical parameters. Observatories are important facilities that collect data continuously, or on a regular basis.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="gml:CodeType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeophStationPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:GeophStation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeophMeasurement" type="ge_gp:GeophMeasurementType" substitutionGroup="ge_gp:GeophObject">
		<annotation>
			<documentation>-- Definition --
Generic feature for geophysical measurements.

-- Description --
Geophysical measurements collect data outside or on the boundary of the observed spatial domain.</documentation>
		</annotation>
	</element>
	<complexType name="GeophMeasurementType">
		<complexContent>
			<extension base="ge_gp:GeophObjectType">
				<sequence>
					<element name="relatedModel" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Identifier of the geophysical model that was created from the measurement

-- Description --
Results of the measurement can be referenced by these identifiers.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="base:Identifier"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="platformType" type="gml:CodeType">
						<annotation>
							<documentation>-- Definition --
platform from which the measurement was carried out

-- Description --
Values to be used are defined in codelist  PlatformTypeValue.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="relatedNetwork" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Name of a national or international observation network to which the facility belongs, or  to which measured data is reported.

-- Description --
Permanent measuring installations maz be part of larger observation networks. It means that observation data is regularly sent to the archives of the related network in an official way.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="gml:CodeType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeophMeasurementPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:GeophMeasurement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Campaign" type="ge_gp:CampaignType" substitutionGroup="ge_gp:GeophObjectSet">
		<annotation>
			<documentation>-- Definition --
Geophysical activity extending over a limited time range and limited area for producing similar geophysical measurements, processing results or models.

-- Description --
Campaigns can be considered as parents of geophysical measurements or models. Children may refer to parent campaigns through the largerWork  identifier.</documentation>
		</annotation>
	</element>
	<complexType name="CampaignType">
		<complexContent>
			<extension base="ge_gp:GeophObjectSetType">
				<sequence>
					<element name="campaignType" type="gml:CodeType">
						<annotation>
							<documentation>-- Definition --
Type of activity to produce data

-- Description --
Value shall be one of the items defined in codelist CampaignTypeValue</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="surveyType" type="gml:CodeType">
						<annotation>
							<documentation>-- Definition --
Type of geophysical survey

-- Description --
The geophysical method is specified by this attribute. Value shall be one of the items defined in codelist SurveyTypeValue.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
					</element>
					<element name="client" nillable="true">
						<annotation>
							<documentation>-- Definition --
Party to which data was created</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence>
										<element ref="gmd:CI_ResponsibleParty"/>
									</sequence>
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="contractor" nillable="true">
						<annotation>
							<documentation>-- Definition --
Party by which data was created

-- Description --
Party responsible for creating the data related to the campaign</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence>
										<element ref="gmd:CI_ResponsibleParty"/>
									</sequence>
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CampaignPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:Campaign"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="GeophObject" type="ge_gp:GeophObjectType" substitutionGroup="sams:SF_SpatialSamplingFeature">
		<annotation>
			<documentation>-- Definition --
Generic class for  geophysical objects. 

-- Description --
GeophObject models single geophysical entities that are used for spatial sampling either by means of data acquisition or data processing.</documentation>
		</annotation>
	</element>
	<complexType name="GeophObjectType">
		<complexContent>
			<extension base="sams:SF_SpatialSamplingFeatureType">
				<sequence>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --
External object identifier of the measurement.

-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
						</annotation>
					</element>
					<element name="citation">
						<annotation>
							<documentation>-- Definition --
Citation of geophysical documentation

-- Description --
Used for title,  date of related documentation and URL for  online access. At the minimum a short name (title) shall be given.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="base2:DocumentCitation"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="projectedGeometry" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
2D projection of the feature to the ground surface. This is going to be used by WMS to display the feature location

-- Description --
When measurement setup is 3 dimensional, it is necessary to define a 2D geometry for displaying purposes. It shall be the 2D projection of the spatial object on the ground surface. Allowed types: point, track and outline. Examples: projected geometry of a borehole logging measurement is a point coincident with the borehole collar location. Projected geometry of a 3D multielectrode DC measurement is a polygon</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="ge_gp:ProjectedGeometry"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="verticalExtent" nillable="true">
						<annotation>
							<documentation>-- Definition --
Vertical extent of the range of interest. 

-- Description --
This parameter serves discovery purposes. It may refer both to the vertical extent of the measurement setup (p.e. borehole logging) or the extent of the range where processed data is spatially referenced to (Vertical Electric Sounding). The aim is to give an idea to the user about the estimated depth of investigation.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence minOccurs="0">
										<element ref="gmd:EX_VerticalExtent"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="distributionInfo" nillable="true">
						<annotation>
							<documentation>-- Definition --
Distribution metadata

-- Description --
Data providers may use external services to provide information on a geophysical measurement. Links to the access points, description of ordering procedures or external services can be added in distributionInfo, that is an ISO MD_Distributor record.</documentation>
						</annotation>
					</element>
					<element name="largerWork" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Identifier of a larger work dataset, tipically a campaign or project

-- Description --
Measurements are usually made in campaigns. The largerWork identifier points to the parent Campaign or Project</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="base:Identifier"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="GeophObjectPropertyType">
		<sequence minOccurs="0">
			<element ref="ge_gp:GeophObject"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
