draft-schemas/su-ua/2.0/StatisticalUnitUA.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:au="urn:x-inspire:specification:gmlas:AdministrativeUnits:3.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:su-ua="http://inspire.jrc.ec.europa.eu/schemas/su-ua/2.0" xmlns:su-vector="http://inspire.jrc.ec.europa.eu/schemas/su-vector/2.0" elementFormDefault="qualified" targetNamespace="http://inspire.jrc.ec.europa.eu/schemas/su-ua/2.0" version="2.0">
  <annotation>
    <documentation>-- Definition --
Example of INSPIRE compliant view of the Urban Audit model (produced by Eurostat).</documentation>
  </annotation>
  <import namespace="http://inspire.jrc.ec.europa.eu/schemas/su-vector/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/su-vector/2.0/StatisticalUnitVector.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:AdministrativeUnits:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/au/3.0/AdministrativeUnits.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="CityDistrict" substitutionGroup="su-vector:AreaStatisticalUnit" type="su-ua:CityDistrictType">
    <annotation>
      <documentation>-- Definition --
Urban audit city district.

-- Description --
SOURCE [http://www.urbanaudit.org/].</documentation>
    </annotation>
  </element>
  <complexType name="CityDistrictType">
    <complexContent>
      <extension base="su-vector:AreaStatisticalUnitType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CityDistrictPropertyType">
    <sequence minOccurs="0">
      <element ref="su-ua:CityDistrict"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="City" substitutionGroup="su-vector:AreaStatisticalUnit" type="su-ua:CityType">
    <annotation>
      <documentation>-- Definition --
Urban audit city.

-- Description --
SOURCE [http://www.urbanaudit.org/].</documentation>
    </annotation>
  </element>
  <complexType name="CityType">
    <complexContent>
      <extension base="su-vector:AreaStatisticalUnitType">
        <sequence>
          <element minOccurs="0" name="kernel" type="su-ua:KernelPropertyType">
            <annotation>
              <documentation>-- Definition --
The kernel of the city.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-ua:city</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="subDistricts" type="su-ua:SubDistrictPropertyType">
            <annotation>
              <documentation>-- Definition --
The sub districts of the city.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-ua:city</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CityPropertyType">
    <sequence minOccurs="0">
      <element ref="su-ua:City"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Kernel" substitutionGroup="su-vector:AreaStatisticalUnit" type="su-ua:KernelType">
    <annotation>
      <documentation>-- Definition --
Urban audit kernel

-- Description --
SOURCE [http://www.urbanaudit.org/].</documentation>
    </annotation>
  </element>
  <complexType name="KernelType">
    <complexContent>
      <extension base="su-vector:AreaStatisticalUnitType">
        <sequence>
          <element minOccurs="0" name="LUZ" type="su-ua:LargerUrbanZonePropertyType">
            <annotation>
              <documentation>-- Definition --
The larger urban zone of the kernel.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-ua:kernel</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element name="city" type="su-ua:CityPropertyType">
            <annotation>
              <documentation>-- Definition --
The city of the kernel.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-ua:kernel</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="KernelPropertyType">
    <sequence minOccurs="0">
      <element ref="su-ua:Kernel"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="SubDistrict" substitutionGroup="su-vector:AreaStatisticalUnit" type="su-ua:SubDistrictType">
    <annotation>
      <documentation>-- Definition --
Urban audit sub-district.

-- Description --
SOURCE [http://www.urbanaudit.org/].</documentation>
    </annotation>
  </element>
  <complexType name="SubDistrictType">
    <complexContent>
      <extension base="su-vector:AreaStatisticalUnitType">
        <sequence>
          <element name="city" type="su-ua:CityPropertyType">
            <annotation>
              <documentation>-- Definition --
The city the sub district belong to.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-ua:subDistricts</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SubDistrictPropertyType">
    <sequence minOccurs="0">
      <element ref="su-ua:SubDistrict"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="LargerUrbanZone" substitutionGroup="su-vector:AreaStatisticalUnit" type="su-ua:LargerUrbanZoneType">
    <annotation>
      <documentation>-- Definition --
Urban audit larger urban zone.

-- Description --
SOURCE [http://www.urbanaudit.org/].</documentation>
    </annotation>
  </element>
  <complexType name="LargerUrbanZoneType">
    <complexContent>
      <extension base="su-vector:AreaStatisticalUnitType">
        <sequence>
          <element minOccurs="0" name="kernel" type="su-ua:KernelPropertyType">
            <annotation>
              <documentation>-- Definition --
The kernel linked to the larger urban zone.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-ua:LUZ</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LargerUrbanZonePropertyType">
    <sequence minOccurs="0">
      <element ref="su-ua:LargerUrbanZone"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
