draft-schemas/act-ext/3.0rc1/ActivityComplex_Extended.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:act-core="http://inspire.ec.europa.eu/schemas/act-core/3.0rc1" xmlns:act-ext="http://inspire.ec.europa.eu/schemas/act-ext/3.0rc1" xmlns:ad="urn:x-inspire:specification:gmlas:Addresses:3.0" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/0.1" xmlns:bu-base="http://inspire.ec.europa.eu/schemas/bu-base/3.0rc1" xmlns:cp="urn:x-inspire:specification:gmlas:CadastralParcels:3.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/act-ext/3.0rc1" version="3.0rc1">
  <import namespace="http://inspire.ec.europa.eu/schemas/act-core/3.0rc1" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/act-core/3.0rc1/ActivityComplex_Core.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/bu-base/3.0rc1" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/bu-base/3.0rc1/BuildingsBase.xsd"/>
  <import namespace="http://inspire.ec.europa.eu/schemas/base2/0.1" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/base2/0.1rc1/BaseTypes2.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:Addresses:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/ad/3.0/Addresses.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:CadastralParcels:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/cp/3.0/CadastralParcels.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="InputOutputAmount" substitutionGroup="gml:AbstractObject" type="act-ext:InputOutputAmountType">
    <annotation>
      <documentation>-- Name --
amount of input or output

-- Definition --
A [classified/registered] type of material or something immaterial, that enters a technical and economical unit and the measurable amount that complement its definition in the context in which is being referred.

-- Description -- 
NOTE Depending on the thematic scope it can refer to different terms as Biomass, Bio-Waste, Fuel, Organic Solvents, Waste Water, Waste for disposal or recovery, Primary Materials, etc.</documentation>
    </annotation>
  </element>
  <complexType name="InputOutputAmountType">
    <sequence>
      <element name="inputOutput" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
input/output

-- Definition --
A [classified/registered] type of material or something immaterial, that enters a technical and economical unit according to its function.

-- Description -- 
NOTE Depending on the thematic scope it can contain different values including terms as Biomass, Bio-Waste, Fuel, Organic Solvents, Waste Water, Waste for disposal or recovery, Primary Materials, etc.</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element name="amount" nillable="true">
        <annotation>
          <documentation>-- Name --
amount

-- Definition --
An amount measure, such as a volume or mass that complement or extend the definition of one input and output in the context in which this is being referred.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="gml:MeasureType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="InputOutputAmountPropertyType">
    <sequence>
      <element ref="act-ext:InputOutputAmount"/>
    </sequence>
  </complexType>
  <element name="Capacity" substitutionGroup="gml:AbstractObject" type="act-ext:CapacityType">
    <annotation>
      <documentation>-- Name --
capacity

-- Definition --
A quantification of an actual or potential ability to perform an activity, that typically does not change, does not change often, or does not change to a significant degree.

-- Description --
NOTE  Capacity could refer depending of the thematic scope to different concepts included on the legislation as “emission limits”, “capacity incineration”, “livestock units”, “nominal capacity”, “objective estimation data”, “rate of desulphurization” or “recycling rate”.</documentation>
    </annotation>
  </element>
  <complexType name="CapacityType">
    <sequence>
      <element maxOccurs="unbounded" name="activity" type="gml:ReferenceType">
        <annotation>
          <documentation>-- Name --
activity

-- Definition --
Classified description to define the major final economical objective something (Activity Complex) has being constructed or built for.
Any activity carried out in the course of an economic activity, a business or an undertaking, irrespectively of its private or public, profit or non-profit character;

-- Description --
NOTE The Activity described as part of the Function for “Activity Complex” should be recorded using a controlled vocabulary where a particular controlled vocabulary is in use within a given context, such as SIC codes in the UK, it is acceptable to use these, however, the preferred choice for European interoperability is whenever possible NACE [NACE].</documentation>
          <appinfo>
            <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
          </appinfo>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="input" type="act-ext:InputOutputAmountPropertyType">
        <annotation>
          <documentation>-- Name --
input

-- Definition --
“Data type” that allows providing numerical information about parameters related with the inputs related with the activity carried out by the Activity Complex.

-- Description --
NOTE  Depending on the thematic scope it can contain different values including terms as Registered Pollutants, Waste, Processed Products, leakage, etc.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="output" type="act-ext:InputOutputAmountPropertyType">
        <annotation>
          <documentation>-- Name --
output

-- Definition --
“Data type” that allows providing numerical [measurable] information about parameters related with the outputs derived from the activity carried out by the “Activity Complex”.

-- Description --
NOTE  Depending on the thematic scope it can contain different values including terms as Registered Pollutants, Waste, Processed Products, leakage, etc.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="time" type="time">
        <annotation>
          <documentation>-- Name --
time

-- Definition --
The duration of time to which the specified capacity refers, such as 1 year for an annual capacity.

-- Description --
NOTE Total capacities are specified without duration of time.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="description" nillable="true" type="gmd:PT_FreeText_PropertyType">
        <annotation>
          <documentation>-- Name --
description

-- Definition --
A description of the capacity.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="CapacityPropertyType">
    <sequence>
      <element ref="act-ext:Capacity"/>
    </sequence>
  </complexType>
  <element name="Permission" substitutionGroup="gml:AbstractObject" type="act-ext:PermissionType">
    <annotation>
      <documentation>-- Name --
permission

-- Definition --
Official Decision (formal consent) granting authorization to operate all or part of an Activity Complex , subject to certain conditions which guarantee that the installation or parts of installations on the same site operated by the same operator complies with the requirements fixed by the law or standards. A permit may cover one or more functions and fix parameters of capacity;

The term may be extended to other kind of certificates or documents of special relevance depending of the scope (e.g. ISO, EMAS, National Quality Standards, etc).

-- Description --
NOTE This terms is referred in several legislative acts as &amp;ldquo;permit&amp;rdquo; , &amp;ldquo;authorization&amp;rdquo;, &amp;ldquo;development consent&amp;rdquo; or &amp;ldquo;exploration permit&amp;rdquo; among others.

EXAMPLE 1 &amp;ldquo;&amp;hellip;a [written] decision by which the competent authority grants permission to operate all or part of an installation&amp;rdquo; ;
EXAMPLE 2 &amp;ldquo;.. the decision of the competent authority or authorities which entitles the developer to proceed with the project..&amp;rdquo;.</documentation>
    </annotation>
  </element>
  <complexType name="PermissionType">
    <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="Id" type="base2:ThematicIdentifierPropertyType">
        <annotation>
          <documentation>-- Name --
identifier

-- Definition --
Identifying reference to the permission.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="relatedParty" nillable="true">
        <annotation>
          <documentation>-- Name --
related party

-- Definition --
Parties related to the permission granted to the activity complex open to many different roles, such as Competent Authorities or Company among others

-- Description --
NOTE Include concepts described on the legislation such as Operator, Company, Port Authority, Agent, Holder, Competent Authority or Keeper.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="base2:RelatedParty"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element name="decisionDate" nillable="true">
        <annotation>
          <documentation>-- Name --
decision date

-- Definition --
Temporal reference that complement the definition of the permission.

-- Description --
NOTE For permissions that become effective immediately, the decision date and the start of the validity period coincide. It may however be a duration of years or decades that separates a decision date from the validity period. For example, a permission decided in 2012 may allow the recovery of waste at a particular site starting from the year

EXAMPLE  Legal resolutions used to refer to a specific day from which the referred resolution and the emitted permission starts to be valid.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="dateFrom" nillable="true">
        <annotation>
          <documentation>-- Name --
date from

-- Definition --
A date starting from which the permission applies and is valid.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="dateTo" nillable="true">
        <annotation>
          <documentation>-- Name --
date to

-- Definition --
A date up to which the permission applies and is valid.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="description" nillable="true" type="gmd:PT_FreeText_PropertyType">
        <annotation>
          <documentation>-- Name --
description

-- Definition --
A description of the permission.</documentation>
        </annotation>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="permittedFunction" nillable="true">
        <annotation>
          <documentation>-- Name --
permitted function

-- Definition --
Function/s for which the permission is granted. Function is as described by the Activity and potentially complemented by information about the Inputs and Outputs derived from the same.

-- Description --
NOTE Functions permitted according to the permission, such as a permit for a landfill.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="act-core:Function"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
      <element maxOccurs="unbounded" minOccurs="0" name="permittedCapacity" nillable="true">
        <annotation>
          <documentation>-- Name --
permitted capacity

-- Definition --
Maximum amounts of activity input and/or output according to the permission, 

-- Description --
NOTE The physical capacities of a facility may exceed the permitted capacities. 
EXAMPLE Incineration of at most 100000 tons of residual waste per year.</documentation>
        </annotation>
        <complexType>
          <sequence>
            <element ref="act-ext:Capacity"/>
          </sequence>
          <attribute name="nilReason" type="gml:NilReasonType"/>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="PermissionPropertyType">
    <sequence>
      <element ref="act-ext:Permission"/>
    </sequence>
  </complexType>
  <element name="ActivityComplex" substitutionGroup="act-core:ActivityComplex" type="act-ext:ActivityComplexType">
    <annotation>
      <documentation>-- Name --
activity complex

-- Definition --
A single unit, both technically and economically, under the management control of the same legal entity (operator), covering activities as those listed in the Eurostat NACE classification, products and services. Activity Complex includes all infrastructure, equipment and materials. It must represent the whole area, at the same or different geographical location, managed by a "single unit" as it has been previously described.

-- Description --
NOTE 1 This class describes the minimal set of elements necessary to describe and identify geographically a legal entity and the activities taken place on it under the context of a Environmental purposes.

NOTE 2 "Activity Complex" could be assimilated to terms described on the legislation as Facility, Establishment, Plant, Holding, Organization ,Farm, Extractive Industries or Aquaculture Production Business among others

EXAMPLE i.e. an Agro-business that is legally registered under the Emissions Directive.</documentation>
    </annotation>
  </element>
  <complexType name="ActivityComplexType">
    <complexContent>
      <extension base="act-core:ActivityComplexType">
        <sequence>
          <element minOccurs="0" name="description" nillable="true" type="gmd:PT_FreeText_PropertyType">
            <annotation>
              <documentation>-- Name --
description

-- Definition --
A complementary definition of the “Activity Complex” and its characteristics.

-- Description --
NOTE  Free text to include or refer any complementary information about the Activity Complex or its characteristics.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="address" nillable="true">
            <annotation>
              <documentation>-- Name --
address

-- Definition --
An address for the activity complex, i.e., an address where the activities occur.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="ad:AddressRepresentation"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="contact" nillable="true">
            <annotation>
              <documentation>-- Name --
contact

-- Definition --
Contact information for the activity complex.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="base2:Contact"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedParty" nillable="true">
            <annotation>
              <documentation>-- Name --
related party

-- Definition --
Information on Parties related to the Activity Complex. It is open to many different roles, such as owners, operators or Competent Authorities.

-- Description --
NOTE 1 The term covers concepts described on the legislation such as Operator, Company, Port Authority, Agent, Holder, Collector, Producer, Competent Authority or Keeper.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="base2:RelatedParty"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="physicalCapacity" nillable="true">
            <annotation>
              <documentation>-- Name --
physical capacity

-- Definition --
Maximum amounts of input and/or output per unit of time that could physically/technically be reached by the described Activity Complex during the performance of a specific Activity (Function).

-- Description --
NOTE 1 Allowed maximum amounts may be smaller than physically/technical possible maximum amounts. Allowed maximum amounts can be specified under permissions.

EXAMPLE  "physical capacity to incinerate 250000 tons of residual waste per year".</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="act-ext:Capacity"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="permission" nillable="true">
            <annotation>
              <documentation>-- Name --
permission

-- Definition --
Permissions, licensed or Certifications held by the Activity Complex to carry out &amp;ldquo;Functions&amp;rdquo; under certain conditions of &amp;ldquo;Capacity&amp;rdquo; and &amp;ldquo;Time&amp;rdquo;. 

-- Description --
NOTE 1 Include terms described on the legislation as Authorization, Permit, Registration or Voluntary Agreement. Certifications as ISO, EMAS, etc could be also being covered under this element.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="act-ext:Permission"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="status" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
status

-- Definition --
The status of the activity complex, such as operational or decommissioned.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="building" nillable="true">
            <annotation>
              <documentation>-- Definition --
Buildings at which the activities occur.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="bu-base:AbstractBuilding"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="cadastralParcel" nillable="true">
            <annotation>
              <documentation>-- Definition --
Cadastral parcels where the activities occur.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="cp:CadastralParcel"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ActivityComplexPropertyType">
    <sequence minOccurs="0">
      <element ref="act-ext:ActivityComplex"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
