draft-schemas/pd/3.0rc2/PopulationDistributionDemography.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:pd="http://inspire.ec.europa.eu/schemas/pd/3.0rc2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:su-core="http://inspire.ec.europa.eu/schemas/su-core/3.0rc2" targetNamespace="http://inspire.ec.europa.eu/schemas/pd/3.0rc2" elementFormDefault="qualified" version="3.0rc2">
	<import namespace="http://inspire.ec.europa.eu/schemas/su-core/3.0rc2" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/su-core/3.0rc2/StatisticalUnitCore.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<simpleType name="AgeByYearValueType">
		<annotation>
			<documentation>-- Name --
Age by year value

-- Definition --
Code values for age by year classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/AgeByYearValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:AgeByYearValueEnumerationType pd:AgeByYearValueOtherType"/>
	</simpleType>
	<simpleType name="AgeByYearValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Age by year value

-- Definition --
Code values for age by year classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/AgeByYearValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="AgeByYearValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ClassificationTypeValueType">
		<annotation>
			<documentation>-- Name --
Classification type value

-- Definition --
Code values for classification types.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/ClassificationTypeValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:ClassificationTypeValueEnumerationType pd:ClassificationTypeValueOtherType"/>
	</simpleType>
	<simpleType name="ClassificationTypeValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Classification type value

-- Definition --
Code values for classification types.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/ClassificationTypeValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ClassificationTypeValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="StatusValueType">
		<annotation>
			<documentation>-- Name --
Status value

-- Definition --
Code values for status.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/StatusValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:StatusValueEnumerationType pd:StatusValueOtherType"/>
	</simpleType>
	<simpleType name="StatusValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Status value

-- Definition --
Code values for status.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/StatusValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="StatusValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="ClassificationItemTypeValueType">
		<annotation>
			<documentation>-- Name --
Classification item type value

-- Definition --
Code values for classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:ClassificationItemTypeValueEnumerationType pd:ClassificationItemTypeValueOtherType"/>
	</simpleType>
	<simpleType name="ClassificationItemTypeValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Classification item type value

-- Definition --
Code values for classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ClassificationItemTypeValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="Classification" type="pd:ClassificationType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
Classification

-- Definition --
A classification used for a statistical distribution.

-- Description --
This code list describes the classification of the provided statistical values. It is the composition of the classification items.</documentation>
		</annotation>
	</element>
	<complexType name="ClassificationType">
		<sequence>
			<element name="type" type="pd:ClassificationTypeValueType">
				<annotation>
					<documentation>-- Name --
Type

-- Definition --
The classification type.</documentation>
				</annotation>
			</element>
			<element name="items" type="pd:ClassificationItemPropertyType" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name --
Items

-- Definition --
The items composing the classification.

-- Description --
EXAMPLE: The classification with a type "sex" is composed of the items "female" and "male".</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ClassificationPropertyType">
		<sequence>
			<element ref="pd:Classification"/>
		</sequence>
	</complexType>
	<simpleType name="SpecialValueType">
		<annotation>
			<documentation>-- Name --
Special value

-- Definition --
Code values for special values.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/SpecialValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:SpecialValueEnumerationType pd:SpecialValueOtherType"/>
	</simpleType>
	<simpleType name="SpecialValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Special value

-- Definition --
Code values for special values.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/SpecialValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="SpecialValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="ClassificationItem" type="pd:ClassificationItemType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
Classification item

-- Definition --
An item composing a classification.

-- Description --
EXAMPLE: The classification "sex" is composed of the items "female" and "male".</documentation>
		</annotation>
	</element>
	<complexType name="ClassificationItemType">
		<sequence>
			<element name="type" type="pd:ClassificationItemTypeValueType">
				<annotation>
					<documentation>-- Name --
Type

-- Definition --
The classification item type.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ClassificationItemPropertyType">
		<sequence>
			<element ref="pd:ClassificationItem"/>
		</sequence>
	</complexType>
	<element name="Dimensions" type="pd:DimensionsType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
Dimensions

-- Definition --
The identification of what the piece of datum refers to in terms of geographic location or individual characteristics.</documentation>
		</annotation>
	</element>
	<complexType name="DimensionsType">
		<sequence>
			<element name="spatial" type="su-core:StatisticalUnitPropertyType">
				<annotation>
					<documentation>-- Name --
Spatial

-- Definition --
The spatial dimension of the statistical value.</documentation>
				</annotation>
			</element>
			<element name="thematic" type="pd:ClassificationItemPropertyType" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>-- Name --
Thematic

-- Definition --
The thematic dimension of the statistical value.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DimensionsPropertyType">
		<sequence>
			<element ref="pd:Dimensions"/>
		</sequence>
	</complexType>
	<simpleType name="StatisticsMeasurementMethodValueType">
		<annotation>
			<documentation>-- Name --
Statistics measurement method value

-- Definition --
Code values for statistics measurement method.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/StatisticsMeasurementMethodValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:StatisticsMeasurementMethodValueEnumerationType pd:StatisticsMeasurementMethodValueOtherType"/>
	</simpleType>
	<simpleType name="StatisticsMeasurementMethodValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Statistics measurement method value

-- Definition --
Code values for statistics measurement method.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/StatisticsMeasurementMethodValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="StatisticsMeasurementMethodValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="VariableValueType">
		<annotation>
			<documentation>-- Name --
Variable value

-- Definition --
Code values for variable names.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/VariableValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:VariableValueEnumerationType pd:VariableValueOtherType"/>
	</simpleType>
	<simpleType name="VariableValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Variable value

-- Definition --
Code values for variable names.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/VariableValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="VariableValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="NACECodeValueType">
		<annotation>
			<documentation>-- Name --
NACE code value

-- Definition --
Code values for NACE classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://ec.europa.eu/eurostat/ramon/nomenclatures/index.cfm?TargetUrl=LST_NOM_DTL&amp;StrNom=CL_NACE2</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:NACECodeValueEnumerationType pd:NACECodeValueOtherType"/>
	</simpleType>
	<simpleType name="NACECodeValueEnumerationType">
		<annotation>
			<documentation>-- Name --
NACE code value

-- Definition --
Code values for NACE classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://ec.europa.eu/eurostat/ramon/nomenclatures/index.cfm?TargetUrl=LST_NOM_DTL&amp;StrNom=CL_NACE2</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="NACECodeValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<simpleType name="AgeBy5YearsValueType">
		<annotation>
			<documentation>-- Name --
Age by 5 years value

-- Definition --
Code values for age by 5 years classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/AgeBy5YearsValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:AgeBy5YearsValueEnumerationType pd:AgeBy5YearsValueOtherType"/>
	</simpleType>
	<simpleType name="AgeBy5YearsValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Age by 5 years value

-- Definition --
Code values for age by 5 years classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/AgeBy5YearsValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="AgeBy5YearsValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="StatisticalValue" type="pd:StatisticalValueType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
Statistical value

-- Definition --
The pieces of datum of the distribution.</documentation>
		</annotation>
	</element>
	<complexType name="StatisticalValueType">
		<sequence>
			<element name="value" type="double" minOccurs="0">
				<annotation>
					<documentation>-- Name --
Value

-- Definition --
The value for the piece of datum.</documentation>
				</annotation>
			</element>
			<element name="specialValue" type="pd:SpecialValueType" minOccurs="0">
				<annotation>
					<documentation>-- Name --
Special value

-- Definition --
Some conventional string when value for the piece of datum cannot be provided: Missing value, value hidden because of confidentiality.</documentation>
					<appinfo>
						<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
					</appinfo>
				</annotation>
			</element>
			<element name="conventionallyLocatedProportion" type="double" minOccurs="0">
				<annotation>
					<documentation>-- Name --
Conventionally located proportion

-- Definition --
The proportion of population counted in the piece of datum but that cannot actually be physically located anywhere within the area of interest.

EXAMPLE: This proportion will include homeless people who where given the address of the organisation that distributes social benefis to them.</documentation>
				</annotation>
			</element>
			<element name="approximatelyLocatedPopulationProportion" type="double" minOccurs="0">
				<annotation>
					<documentation>-- Name --
Approximately located proportion

-- Definition --
The proportion of population count that doesn&amp;rsquo;t follow the common rule for location. &amp;ldquo;Population&amp;rdquo; has here a general meaning : it can be persons if persons are counted, dwellings if the StatisticalDatadistribution is about dwellings&amp;hellip;

EXAMPLE : A statistical distribution of the people is supposed to have been produced after the people were located in the cadastral parcel they live in. For some incorrectness in the registers used, the actual location of the cadastral parcel was not found fro some of them and an estimated location was computed. The number of people in this case must be reported in the attribute.</documentation>
				</annotation>
			</element>
			<element name="comment" type="gmd:PT_FreeText_PropertyType" minOccurs="0">
				<annotation>
					<documentation>-- Name --
Comment

-- Definition --
Some free style comment about the value.</documentation>
				</annotation>
			</element>
			<element name="flags" type="gmd:PT_FreeText_PropertyType" minOccurs="0">
				<annotation>
					<documentation>-- Name --
Flags

-- Definition --
A set of one-character encoded comments about the data.</documentation>
				</annotation>
			</element>
			<element name="periodOfMeasurement" type="gml:TimePeriodPropertyType" nillable="true" minOccurs="0">
				<annotation>
					<documentation>-- Name --
Period of measurement

-- Definition --
The period of collection for the object, when this one differs from the one of the others of the distribution.</documentation>
				</annotation>
			</element>
			<element name="status" type="pd:StatusValueType">
				<annotation>
					<documentation>-- Name --
Status

-- Definition --
The status of the statistical data.</documentation>
				</annotation>
			</element>
			<element name="dimensions" type="pd:DimensionsPropertyType">
				<annotation>
					<documentation>-- Name --
Dimensions

-- Definition --
The part of the world the piece of datum refers to. Dimensions contains a description of the geographic location (2D dimension) together with possible additional dimensions when population counts are produced simultaneously for different individual characteristics.

EXAMPLE: A simple population count for each part of the area of Dissemination will need only identification of these parts, while population count by sex will require and additional dimension (sex) to make a difference between the male and the female.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="StatisticalValuePropertyType">
		<sequence>
			<element ref="pd:StatisticalValue"/>
		</sequence>
	</complexType>
	<simpleType name="SexValueType">
		<annotation>
			<documentation>-- Name --
Sex value

-- Definition --
Code values for sex classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/SexValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:SexValueEnumerationType pd:SexValueOtherType"/>
	</simpleType>
	<simpleType name="SexValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Sex value

-- Definition --
Code values for sex classification items.

-- Description --</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/SexValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="SexValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="StatisticalDistribution" type="pd:StatisticalDistributionType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
Statistical distribution

-- Definition --
Set of measures describing how a phenomenon is spread within some part of the 2D world.</documentation>
		</annotation>
	</element>
	<complexType name="StatisticalDistributionType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="inspireId" type="base:IdentifierPropertyType" minOccurs="0">
						<annotation>
							<documentation>-- Name --
INSPIRE identifier

-- Definition --
External object identifier of the spatial object.

-- Description --
An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
						</annotation>
					</element>
					<element name="areaOfDissemination" type="gml:SurfacePropertyType">
						<annotation>
							<documentation>-- Name --
Area of dissemination

-- Definition --
The part of the 2D world the StatisticalDataDistribution describes.</documentation>
						</annotation>
					</element>
					<element name="universe" type="gmd:PT_FreeText_PropertyType" minOccurs="0">
						<annotation>
							<documentation>-- Name --
Universe

-- Definition --
When distribution is related to a subset of the population and not the population in its whole, the literal description of the way this subset was defined.

EXAMPLE : A dataset can give the population distribution of the unemployed persons under 25. The variable will be &amp;ldquo;unemployedPopulation&amp;rdquo;, the measure a &amp;ldquo;count &amp;ldquo; and the measurementUnit &amp;ldquo;person&amp;rdquo;. The only way to express that the distribution doesn&amp;rsquo;t cover the whole unemployed population would be to describe that situation in the Unviverse attribute.</documentation>
						</annotation>
					</element>
					<element name="domain" type="gmd:PT_FreeText_PropertyType">
						<annotation>
							<documentation>-- Name --
Domain

-- Definition --
The part of statistical knowledge the data refers to.

-- Description --
EXAMPLES: Demography, activity, etc.</documentation>
						</annotation>
					</element>
					<element name="measure" type="pd:VariableValueType">
						<annotation>
							<documentation>-- Name --
Measure

-- Definition --
What the distribution measures.

-- Description --
EXAMPLE: Population by age and sex, households by size, etc.</documentation>
						</annotation>
					</element>
					<element name="measurementMethod" type="pd:StatisticsMeasurementMethodValueType">
						<annotation>
							<documentation>-- Name --
Measurement method

-- Definition --
The description of the statistic measurement method.</documentation>
						</annotation>
					</element>
					<element name="measurementUnit" type="gml:UnitOfMeasureType">
						<annotation>
							<documentation>-- Name --
Measurement unit

-- Definition --
The unit of the measurement.</documentation>
						</annotation>
					</element>
					<element name="notCountedProportion" type="double" minOccurs="0">
						<annotation>
							<documentation>-- Name --
Not counted proportion

-- Definition --
The proportion of population of the area of interest that is not counted in any of its spatial components.

-- Description --
EXAMPLE: This situation can occur when the total population of the area of interest is collected by some process (e.g. administrative register) but population in the spatial components of the area of interest by another process (e.g. estimation).</documentation>
						</annotation>
					</element>
					<element name="periodOfMeasurement" type="gml:TimePeriodPropertyType">
						<annotation>
							<documentation>-- Name --
Period of measurement

-- Definition --
The date/period the observation has been taken, the data was collected.</documentation>
						</annotation>
					</element>
					<element name="periodOfReference" type="gml:TimePeriodPropertyType">
						<annotation>
							<documentation>-- Name --
Period of reference

-- Definition --
The period when the data is supposed to give a picture of the area of interest.</documentation>
						</annotation>
					</element>
					<element name="periodOfValidity" type="gml:TimePeriodPropertyType" minOccurs="0">
						<annotation>
							<documentation>-- Name --
Period of validity

-- Definition --
The time period in which the data remains relevant. Outside this period the data should not be used and must be replaced by a fresher one. In most cases this is forever and the 2nd date is left empty.</documentation>
						</annotation>
					</element>
					<element name="beginLifeSpanVersion" nillable="true">
						<annotation>
							<documentation>-- Name --
Begin life span version

-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="endLifeSpanVersion" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Name --
End life span version

-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="generalStatus" type="pd:StatusValueType">
						<annotation>
							<documentation>-- Name --
general status

-- Definition --
The status of the statistical data distribution.</documentation>
						</annotation>
					</element>
					<element name="values" type="pd:StatisticalValuePropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name --
Values

-- Definition --
The statistical values composing the distribution.</documentation>
						</annotation>
					</element>
					<element name="classifications" type="pd:ClassificationPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name --
Classification

-- Definition --
Additional classifications used to split a total value of the described phenomenon. In this way the StatisticalDistribution object will provide actually several distributions, one for each item of the used classification.

NB: When no classification is provided, it means the statistical value is the total population.</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="StatisticalDistributionPropertyType">
		<sequence minOccurs="0">
			<element ref="pd:StatisticalDistribution"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="AgeGroupValueType">
		<annotation>
			<documentation>-- Name --
Age group value

-- Definition --
Code values for age group classification items.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/AgeGroupValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="pd:AgeGroupValueEnumerationType pd:AgeGroupValueOtherType"/>
	</simpleType>
	<simpleType name="AgeGroupValueEnumerationType">
		<annotation>
			<documentation>-- Name --
Age group value

-- Definition --
Code values for age group classification items.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">TG</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/AgeGroupValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="AgeGroupValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
