draft-schemas/plu/2.0/PlannedLandUse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:base2="http://inspire.jrc.ec.europa.eu/schemas/base2/0.1" xmlns:bu-ext2d="http://inspire.jrc.ec.europa.eu/schemas/bu-ext2d/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lucm="http://inspire.jrc.ec.europa.eu/schemas/lucm/2.0" xmlns:nz-core="http://inspire.jrc.ec.europa.eu/schemas/nz-core/2.0" xmlns:plu="http://inspire.jrc.ec.europa.eu/schemas/plu/2.0" targetNamespace="http://inspire.jrc.ec.europa.eu/schemas/plu/2.0" elementFormDefault="qualified" version="2.0">
	<import namespace="http://inspire.jrc.ec.europa.eu/schemas/base2/0.1" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/base2/0.1/BaseTypes2.xsd"/>
	<import namespace="http://inspire.jrc.ec.europa.eu/schemas/bu-ext2d/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/bu-ext2d/2.0/BuildingExtended2D.xsd"/>
	<import namespace="http://inspire.jrc.ec.europa.eu/schemas/lucm/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/lucm/2.0/LandUseCoreModel.xsd"/>
	<import namespace="http://inspire.jrc.ec.europa.eu/schemas/nz-core/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/nz-core/2.0/NaturalRiskZonesCore.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<simpleType name="ProcessStepGeneralValueType">
		<annotation>
			<documentation>-- Name --
process step general
-- Definition --
General indication of the step of the planning process that the plan is undergoing.
-- Description --
NOTE This enumeration contains values that are common to most planning systems.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="adoption">
				<annotation>
					<documentation>-- Definition --
Plan in the process of being legally adopted.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="elaboration">
				<annotation>
					<documentation>-- Definition --
Plan under elaboration.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="legalForce">
				<annotation>
					<documentation>-- Definition --
Plan already adopted and being legally binding or active.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="obsolete">
				<annotation>
					<documentation>-- Definition --
Plan having been substituted by another plan, or not being any longer in force.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<element name="DimensioningIndicationValue" type="plu:DimensioningIndicationValueType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
Dimension Indication
-- Definition --
Specifications about the dimensioning of the urban developments.</documentation>
		</annotation>
	</element>
	<complexType name="DimensioningIndicationValueType">
		<sequence>
			<element name="indicationReference" type="string">
				<annotation>
					<documentation>-- Definition --
Description of the dimension indication.</documentation>
				</annotation>
			</element>
			<element name="value" type="string">
				<annotation>
					<documentation>-- Definition --
value of the dimension indications.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="DimensioningIndicationValuePropertyType">
		<sequence>
			<element ref="plu:DimensioningIndicationValue"/>
		</sequence>
	</complexType>
	<simpleType name="LevelOfSpatialPlanValueType">
		<annotation>
			<documentation>-- Name --
level of spatial plan
-- Definition --
Territorial hierarchy of plan.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="local">
				<annotation>
					<documentation>-- Definition --
Plan at municipal level (equivalent to LAU2 of EUROSTAT nomenclature of statistical units).</documentation>
				</annotation>
			</enumeration>
			<enumeration value="regional">
				<annotation>
					<documentation>-- Definition --
Plan at regional level.(equivalent to NUTS2 of EUROSTAT nomenclature of statistical units).</documentation>
				</annotation>
			</enumeration>
			<enumeration value="national">
				<annotation>
					<documentation>-- Definition --
Plan at Member State level.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="other">
				<annotation>
					<documentation>-- Definition --
Other level of spatial plan.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<simpleType name="RegulationNatureValueType">
		<annotation>
			<documentation>-- Name --
regulation nature
-- Definition --
Legal nature of the land use indication.</documentation>
		</annotation>
		<restriction base="string">
			<enumeration value="bindingForDevelopers">
				<annotation>
					<documentation>-- Definition --
The land use indication is binding only for developers.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="bindingOnlyForAuthorities">
				<annotation>
					<documentation>-- Definition --
The land use indication is binding only for certain authorities.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="generallyBinding">
				<annotation>
					<documentation>-- Definition --
The land use indication is binding for everybody.</documentation>
				</annotation>
			</enumeration>
			<enumeration value="nonBinding">
				<annotation>
					<documentation>-- Definition --
The land use indication is not binding.</documentation>
				</annotation>
			</enumeration>
		</restriction>
	</simpleType>
	<element name="ZoningElement" type="plu:ZoningElementType" substitutionGroup="lucm:CoreLandUseObject">
		<annotation>
			<documentation>-- Name --
zoning element
-- Definition --
a geographical feature which is homogeneous regarding the permitted uses of land based on zoning which separate one set of land uses from another. Zoning may include regulation of the kinds of activities which will be acceptable on particular lots (such as open space, residential, agricultural, commercial or industrial), the intensity of use at which those activities can be performed (from low-density housing such as single family homes to high-density such as high-rise apartment buildings), the height of buildings, the amount of space that structures may occupy, the relative position of a building on the lot (setbacks), the proportions of the types of space on a lot, such as how much landscaped space, impervious surface, traffic lanes, and parking must be provided.</documentation>
		</annotation>
	</element>
	<complexType name="ZoningElementType">
		<complexContent>
			<extension base="lucm:CoreLandUseObjectType">
				<sequence>
					<element name="dimensioningIndication" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Specifications about the dimensioning of the urban developments.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="plu:DimensioningIndicationValue"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="regulationNature" type="plu:RegulationNatureValueType">
						<annotation>
							<documentation>-- Definition --
Legal nature of the land use indication.
-- Description --
NOTE Indicates whether the land use indication is legally binding or not.</documentation>
						</annotation>
					</element>
					<element name="sourceForZoningElement" type="nz-core:RiskZonePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
The risk zone which was taken into account when defining the zoning element.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">nz-core:zoningElement</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="textualRegulation" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Textual Regulation that is part of this zoning element.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">plu:TextualRegulation</targetElement>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ZoningElementPropertyType">
		<sequence minOccurs="0">
			<element ref="plu:ZoningElement"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="SupplementaryRegulation" type="plu:SupplementaryRegulationType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
supplementary regulation
-- Definition --
A geographic feature which overlaps the zoning elements and that provides supplementary information and/or limitation of the use of land. The supplementary regulations can be for spatial planning reasons or due to the need to formalise external regulations.
-- Description --
NOTE the supplementary regulations affects all land use that are inside its geometry. 
EXAMPLE an air field generates restriction in its surroundings regarding aircraft landing, radar and telecommunication devices. It is the buffer around these artefacts that generates the supplementary regulation on the Land Use.</documentation>
		</annotation>
	</element>
	<complexType name="SupplementaryRegulationType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="beginLifespanVersion" nillable="true">
						<annotation>
							<documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="dimensioningIndication" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Specifications about the dimensioning that are added to the dimensioning of the zoning elements that overlap the geometry of the supplementary regulation.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="plu:DimensioningIndicationValue"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="endLifespanVersion" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="geometry" type="gml:GeometryPropertyType">
						<annotation>
							<documentation>-- Definition --
Geometry of the piece of land on which the supplementary regulation applies.</documentation>
						</annotation>
					</element>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --
External object identifier of the spatial object.
-- Description --
NOTE An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
						</annotation>
					</element>
					<element name="localSupplelementarylRegulation" nillable="true">
						<annotation>
							<documentation>-- Definition --
Reference to a category of supplementary regulation provided in a specific nomenclature of supplementary regulations.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="gml:CodeType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="regulationNature" type="plu:RegulationNatureValueType">
						<annotation>
							<documentation>-- Definition --
Legal nature of the land use regulation.
-- Description --
NOTE Indicates whether the land use regulation is legally binding or not.</documentation>
						</annotation>
					</element>
					<element name="supplementaryRegulation" type="gml:CodeType">
						<annotation>
							<documentation>-- Definition --
reference to a Nomenclature of supplementary regulations.</documentation>
						</annotation>
					</element>
					<element name="validFrom" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
First date at which this version of this supplementary regulation is valid in reality.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="validTo" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
The date from which the supplementary regulation is no longer valid.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="date">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="textualRegulation" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Link to the Textual regulations that is part of this supplementary regulation.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">plu:TextualRegulation</targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="plan" type="gml:ReferenceType">
						<annotation>
							<documentation>-- Definition --
Link to the plan this supplementary regulation is part of</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">plu:SpatialPlan</targetElement>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">plu:restriction</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SupplementaryRegulationPropertyType">
		<sequence minOccurs="0">
			<element ref="plu:SupplementaryRegulation"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="Document" type="plu:DocumentType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Definition --
Scanned plans and structural drawings sometimes georeferenced sometimes not. Rasters pictures vector drawings.... (TODO: implementation needs to beresolved).</documentation>
		</annotation>
	</element>
	<complexType name="DocumentType">
		<sequence>
			<element name="date" nillable="true" minOccurs="0">
				<annotation>
					<documentation>-- Definition --
Date when document wash published.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="dateTime">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="documentDescription" nillable="true" minOccurs="0">
				<annotation>
					<documentation>EXAMPLES: photo of inner yard, sketch of third floor</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="documentLink" type="anyURI">
				<annotation>
					<documentation>-- Definition --
Reference to a resource where the Document can be found.</documentation>
				</annotation>
			</element>
			<element name="format" nillable="true">
				<annotation>
					<documentation>MIMEtype</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="gml:CodeType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="sourceStatus" nillable="true">
				<annotation>
					<documentation>NOTE: &amp;ldquo;not official&amp;rdquo; value may be used for documents provided from Volonteer Geographic Information (crowd-sourcing)</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="gml:CodeType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="DocumentPropertyType">
		<sequence>
			<element ref="plu:Document"/>
		</sequence>
	</complexType>
	<element name="SpatialPlan" type="plu:SpatialPlanType" substitutionGroup="lucm:CoreLandUseCoverage">
		<annotation>
			<documentation>-- Name --
spatial plan
-- Definition --
a set of documents that indicates a strategic direction for the development of a given geographic area, states the policies, priorities, programmes and land allocations that will implement the strategic direction and influences the distribution of people and activities in spaces of various scales. SpatialPlan includes all levels of planning land use including urban planning, regional planning, environmental planning, national spatial plans, and spatial planning at the European Union levels.</documentation>
		</annotation>
	</element>
	<complexType name="SpatialPlanType">
		<complexContent>
			<extension base="lucm:CoreLandUseCoverageType">
				<sequence>
					<element name="levelOfSpatialPlan" type="plu:LevelOfSpatialPlanValueType">
						<annotation>
							<documentation>-- Definition --
Administrative level of plan. Member states should make a mapping to this enumeration.</documentation>
						</annotation>
					</element>
					<element name="ordinanceDate" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Date of the relevant administrative ordinance.
-- Description --
NOTE This attribute is multiple because, independently from the current legal status of the plan, there can be references to the dates of more than one ordinance, in relation to the different steps that the planning process has already undergone (e.g. ordinance for the preparation of a new plan, ordinance of adoption, ordinance of approval, etc.). The entries in the ordinanceDate array refer to the entries in the ordinanceReference at the same position.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="ordinanceReference" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Reference to relevant administrative ordinance.
-- Description --
NOTE This attribute is multiple because, independently from the current legal status of the plan, there can be references to more than one ordinance, in relation to the different steps that the planning process has already undergone (e.g. ordinance for the preparation of a new plan, ordinance of adoption, ordinance of approval, etc.).</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="planTypeName" type="string">
						<annotation>
							<documentation>-- Definition --
Name of the type of plan that the member state gives to the plan.
-- Description --
EXAMPLE:
FR: DTA, SCOT, PLU, etc.
DE: Bebauungsplan, Flächennutzungsplan, Regionalplan, Landesentwicklungsplan 
NL:  bestemmingsplan, structuurvisie.</documentation>
						</annotation>
					</element>
					<element name="processStepGeneral" nillable="true">
						<annotation>
							<documentation>-- Definition --
General indication of the step of the planning process that the plan is undergoing.
-- Description --
NOTE This enumeration contains values that are common to most planning systems.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="plu:ProcessStepGeneralValueType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="title" nillable="true">
						<annotation>
							<documentation>-- Definition --
Name of the spatial plan.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="backgroundmapDate" nillable="true">
						<annotation>
							<documentation>-- Name --
backgroundmap date
-- Definition --
Date of the backgroundmap used for constructing this Plan.
-- Description --
NOTE  The entries in the backgroundmapDate array refer to the entries in the backgroundmapReference at the same position.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="dateTime">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="backgroundmapReference" nillable="true">
						<annotation>
							<documentation>-- Definition --
Reference to the backgroundmap used for constructing this Plan.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="restriction" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Links to regulations that supplements the regulation of the zoning as part of this spatial plan.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">plu:SupplementaryRegulation</targetElement>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">plu:plan</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="textualRegulation" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Link to the textual regulations that are part of the plan.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">plu:TextualRegulation</targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="legislationReference" type="gml:ReferenceType" nillable="true">
						<annotation>
							<documentation>-- Definition --
Reference to the law on which the plan is based.</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">plu:TextualRegulation</targetElement>
							</appinfo>
						</annotation>
					</element>
					<element name="planDocument" type="gml:ReferenceType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Scanned plans and structural drawings sometimes georeferenced sometimes not. Rasters pictures vector drawings.... (TODO: implementation needs to beresolved).</documentation>
							<appinfo>
								<targetElement xmlns="http://www.opengis.net/gml/3.2">plu:Document</targetElement>
							</appinfo>
						</annotation>
					</element>
					<!-- element name="planDocument" type="bu-ext2d:DocumentPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>Definition
Scanned plans and structural drawings sometimes georeferenced sometimes not. Rasters pictures vector drawings.... (TODO: implementation needs to beresolved)</documentation>
						</annotation>
					</element -->
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="SpatialPlanPropertyType">
		<sequence minOccurs="0">
			<element ref="plu:SpatialPlan"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="TextualRegulation" type="plu:TextualRegulationType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
textual regulation
-- Definition --
The regulation part of a SpatialPlan that is opposable to third parties; it may be composed of articles that may be associated with a zoning element, a supplementary regulation or  the complete spatial plan. In some member states the actual textual regulation will be part of the plan (and can be put in the regulationText attribute) in other member states the text will not be part of the plan and be referenced via a URL or a reference to a law.</documentation>
		</annotation>
	</element>
	<complexType name="TextualRegulationType">
		<sequence>
			<element name="regulationReference" nillable="true">
				<annotation>
					<documentation>-- Definition --
Reference to the document that contains the text of the regulation</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element ref="base2:LegislationReference"/>
					</sequence>
					<attribute name="nilReason" type="gml:NilReasonType"/>
				</complexType>
			</element>
			<element name="regulationText" nillable="true">
				<annotation>
					<documentation>-- Definition --
Text of the regulation</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="TextualRegulationPropertyType">
		<sequence>
			<element ref="plu:TextualRegulation"/>
		</sequence>
	</complexType>
</schema>
