draft-schemas/lunom/3.0rc2/LandUseNomenclature.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0" xmlns:lunom="http://inspire.ec.europa.eu/schemas/lunom/3.0rc2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" targetNamespace="http://inspire.ec.europa.eu/schemas/lunom/3.0rc2" elementFormDefault="qualified" version="3.0rc2">
	<annotation>
		<documentation>-- Name --
land use nomenclature</documentation>
	</annotation>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/gmlcov/1.0" schemaLocation="http://schemas.opengis.net/gmlcov/1.0/coverage.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="HILUCSPresence" type="lunom:HILUCSPresenceType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
HILUCS precense
-- Definition --
presence of a HILUCS value in an area where there are several values together with a percentage. A void value for percentage means that it is unknown.
-- Description --
The HILUCS presence data type  enables the provision of information on land uses inside one land use object in order  to collect more than one land use existence perfectly identifiable by importance order or percentages. 
NOTE 1: The order of land use value presence without percentages enable providing  an order of dominance/importance of each land use present in the land use object
NOTE 2:The sum of the percentages can be  below 100%, or above. The order is provided according to the respective importance when the percentages are not known.</documentation>
		</annotation>
	</element>
	<complexType name="HILUCSPresenceType">
		<choice>
			<element name="orderedList" type="gml:CodeType" maxOccurs="unbounded">
				<annotation>
					<appinfo>
						<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
					</appinfo>
				</annotation>
			</element>
			<element name="percentageList" type="lunom:HILUCSPercentagePropertyType" maxOccurs="unbounded"/>
		</choice>
	</complexType>
	<complexType name="HILUCSPresencePropertyType">
		<sequence>
			<element ref="lunom:HILUCSPresence"/>
		</sequence>
	</complexType>
	<element name="SpecificPresence" type="lunom:SpecificPresenceType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
specific presence
-- Definition --
Indication of the presence of a land use classification value according to the code list provided by the data provider. If a percentage is provided it indicates the percentage of this specific use in this object. The specific presence data type  enables the provision of information on land uses inside one land use object in order  to collect more than one land use existence perfectly identifiable by importance order or percentages.
-- Description --
NOTE 1: The order of land use value presence without percentages enable providing  an order of dominance/importance of each land use present in nthe land use object
NOTE 2: The sum of the percentages can be  below 100%, or above. The order is provided according to the respective importance when the percentages are not known.</documentation>
		</annotation>
	</element>
	<complexType name="SpecificPresenceType">
		<choice>
			<element name="orderedList" type="gml:CodeType" maxOccurs="unbounded">
				<annotation>
					<appinfo>
						<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
					</appinfo>
				</annotation>
			</element>
			<element name="percentageList" type="lunom:SpecificPercentagePropertyType" maxOccurs="unbounded"/>
		</choice>
	</complexType>
	<complexType name="SpecificPresencePropertyType">
		<sequence>
			<element ref="lunom:SpecificPresence"/>
		</sequence>
	</complexType>
	<element name="HILUCSPercentage" type="lunom:HILUCSPercentageType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
HILUCS percentage
-- Definition --
Percentage of land use object that is covered by this HILUCS presence.
-- Description --
NOTE1:The percentage is according to the socio-economic or functional importance of the use.

NOTE2:examples are provided in the narrative description part of the data specification.</documentation>
		</annotation>
	</element>
	<complexType name="HILUCSPercentageType">
		<sequence>
			<element name="hilucsValue" type="gml:CodeType">
				<annotation>
					<documentation>-- Definition --
HILUCS category for this HILUCS percentage.</documentation>
					<appinfo>
						<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
					</appinfo>
				</annotation>
			</element>
			<element name="percentage" type="integer">
				<annotation>
					<documentation>-- Definition --
Percentage of land use object that is covered by this HILUCS presence.
-- Description --
NOTE The percentage is according to the socio-economic importance of the use. In section 5.2.1.1.2. examples of the use of percentages are given.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="HILUCSPercentagePropertyType">
		<sequence>
			<element ref="lunom:HILUCSPercentage"/>
		</sequence>
	</complexType>
	<element name="SpecificPercentage" type="lunom:SpecificPercentageType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
specific  percentage
-- Definition --
Percentage of land use object that is covered by this specfic presence.</documentation>
		</annotation>
	</element>
	<complexType name="SpecificPercentageType">
		<sequence>
			<element name="specificValue" type="gml:CodeType">
				<annotation>
					<documentation>-- Definition --
specific value category for this specific percentage.</documentation>
					<appinfo>
						<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
					</appinfo>
				</annotation>
			</element>
			<element name="percentage" type="integer">
				<annotation>
					<documentation>-- Definition --
Percentage of land use object that is covered by this specfic presence.
-- Description --
NOTE The percentage is according to the socio-economic importance of the use. In section 5.2.1.1.2. examples of the use of percentages are given.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SpecificPercentagePropertyType">
		<sequence>
			<element ref="lunom:SpecificPercentage"/>
		</sequence>
	</complexType>
</schema>
