draft-schemas/el-bas/3.0rc1/ElevationBaseTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:el-bas="http://inspire.ec.europa.eu/schemas/el-bas/3.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/el-bas/3.0" version="3.0">
  <annotation>
    <documentation>-- Name --
elevation - base types

-- Definition --
Elevation - Base Types application schema.</documentation>
    <appinfo>
      <gmlProfileSchema xmlns="http://www.opengis.net/gml/3.2">EMPTY</gmlProfileSchema>
    </appinfo>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="VerticalCRSIdentifier" substitutionGroup="gml:AbstractObject" type="el-bas:VerticalCRSIdentifierType">
    <annotation>
      <documentation>-- Name --
vertical coordinate reference system identifier

-- Definition --
Identifier of the vertical reference system.

-- Description --
EXAMPLE DVR90.</documentation>
    </annotation>
  </element>
  <complexType name="VerticalCRSIdentifierType">
    <sequence>
      <element name="code" type="string">
        <annotation>
          <documentation>-- Name --
code

-- Definition --
Alphanumeric value identifying an instance in the namespace.</documentation>
        </annotation>
      </element>
      <element name="codeSpace" type="string">
        <annotation>
          <documentation>-- Name --
code space

-- Definition --
Name or identifier of the person or organization responsible for the namespace.

-- Description --
NOTE 1 Ideally the namespace would be a registry where it is possible to register the vertical CRS and identify it using the code.

NOTE 2 EPSG is an example of CRS registry, but other registries may be used (e.g. a future INSPIRE CRS registry, in case it is created).</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="version" type="string">
        <annotation>
          <documentation>-- Name --
version

-- Definition --
Version identifier for the namespace.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="VerticalCRSIdentifierPropertyType">
    <sequence>
      <element ref="el-bas:VerticalCRSIdentifier"/>
    </sequence>
  </complexType>
  <simpleType name="ElevationPropertyTypeValueType">
    <annotation>
      <documentation>-- Name --
elevation property type value

-- Definition --
Enumeration types which determine the elevation property which has been measured or calculated.

-- Description --
NOTE 1  An elevation property is a vertically-constrained dimensional property of an element consisting of an absolute measure referenced to a well-defined surface which is commonly taken as origin (geoid, water level, etc.).

NOTE 2  It does not include relative elevations of the element referenced to other spatial objects.

EXAMPLE  Height, depth.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="height">
        <annotation>
          <documentation>-- Name --
height

-- Definition --
Elevation property measured along a plumb line in a direction opposite to Earth's gravity field (upwards).

-- Description --
NOTE This definition intentionally avoids making reference to complex geodetic terms. It is only intended to specify the direction in which the elevation property has been measured.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="depth">
        <annotation>
          <documentation>-- Name --
depth

-- Definition --
Elevation property measured along a plumb line in a direction coincident to Earth's gravity field (downwards).

-- Description --
NOTE This definition intentionally avoids making reference to complex geodetic terms. It is only intended to specify the direction in which the elevation property has been measured.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SurfaceTypeValueType">
    <annotation>
      <documentation>-- Name --
surface type value

-- Definition --
Enumeration types determining the elevation surface with regard to its relative adherence to the Earth's bare surface.

-- Description --
EXAMPLE DTM and DSM.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="DTM">
        <annotation>
          <documentation>-- Name --
digital terrain model

-- Definition --
Surface describing the three dimensional shape of the Earth's bare surface, excluding as possible any other features placed on it.

-- Description --
EXAMPLE Buildings, bridges or vegetation do not form part of a DTM.

NOTE 1 For DTM surfaces describing the floor of water bodies (e.g. the sea-floor), the water bodies are not considered as part of the Earth's bare surface. Hence, they are excluded from the DTM.

NOTE 2 For DTM surfaces in which any features placed on the Earth's bare surface have not been totally filtered and excluded, the deviations must be explained in the metadata.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="DSM">
        <annotation>
          <documentation>-- Name --
digital surface model

-- Definition --
Surface describing the three dimensional shape of the Earth's surface, including all static features placed on it. Temporary phenomena should not form part of the surface, but due to the technical difficulties in removing them some of these features may also be present in the surface.

-- Description --
EXAMPLE 1 Vegetation, buildings and bridges are examples of static features. 

EXAMPLE 2 Cars, trucks and other dynamic features are examples of temporary phenomena.

NOTE 1 For DSM surfaces describing the floor of water bodies (e.g. the sea-floor) and those features placed on it, the water bodies are not considered as part of the Earth's bare surface. Hence, they are excluded from the DSM.

NOTE 2 For DSM surfaces in which any temporary phenomena have not been totally filtered and excluded, the deviations must be explained in the metadata.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
</schema>
