draft-schemas/us-net-tc-core/3.0rc1/TelecommunicationsNetworkCore.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:us-net-common-core="http://inspire.ec.europa.eu/schemas/us-net-common-core/3.0" xmlns:us-net-tc-core="http://inspire.ec.europa.eu/schemas/us-net-tc-core/3.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/us-net-tc-core/3.0" version="3.0">
  <annotation>
    <documentation>-- Definition --
Telecommunications network sub-domain.</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/us-net-common-core/3.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/us-net-common-core/3.0rc1/UtilityNetworksCommonCore.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="TelecommunicationsCable" substitutionGroup="us-net-common-core:Cable" type="us-net-tc-core:TelecommunicationsCableType">
    <annotation>
      <documentation>-- Name --
telecommunications cable

-- Definition --
A utility link or link sequence used to convey data signals (PSTN, radio or computer) from one location to another.</documentation>
    </annotation>
  </element>
  <complexType name="TelecommunicationsCableType">
    <complexContent>
      <extension base="us-net-common-core:CableType">
        <sequence>
          <element name="telecommunicationsCableMaterialType" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Name --
telecommunications cable material type

-- Definition --
Type of cable material.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="TelecommunicationsCablePropertyType">
    <sequence minOccurs="0">
      <element ref="us-net-tc-core:TelecommunicationsCable"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
