schemas/us-net-th/5.0/ThermalNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:us-net-common="http://inspire.ec.europa.eu/schemas/us-net-common/5.0" xmlns:us-net-th="http://inspire.ec.europa.eu/schemas/us-net-th/5.0" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/us-net-th/5.0" version="5.0">
  <!-- v5.0 of this schema released in INSPIRE schema release v.2024.1.1
       Change performed: Updated the version of the imported us-net-common schema (from 4.0 to 5.0) - breaking change - Amendment 1089/2010
       See https://github.com/INSPIRE-MIF/application-schemas/releases/tag/2024.1.1 -->
  <!-- v4.0.1 of this schema released in INSPIRE schema release v.2022.2.
       Change performed: Added type to 'thermalProductType' element - breaking change - bugfix
       See https://github.com/INSPIRE-MIF/application-schemas/releases/tag/2022.2 -->
  <annotation>
    <documentation>-- Name --
thermal utility network

-- Definition --
Thermal network sub-domain.</documentation>
  </annotation>
  <import namespace="http://inspire.ec.europa.eu/schemas/us-net-common/5.0" schemaLocation="https://inspire.ec.europa.eu/schemas/us-net-common/5.0/UtilityNetworksCommon.xsd"/>
  <import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="ThermalPipe" substitutionGroup="us-net-common:Pipe" type="us-net-th:ThermalPipeType">
    <annotation>
      <documentation>-- Name --
thermal pipe

-- Definition --
A pipe used to disseminate heating or cooling from one location to another.</documentation>
    </annotation>
  </element>
  <complexType name="ThermalPipeType">
    <complexContent>
      <extension base="us-net-common:PipeType">
        <sequence>
          <element name="thermalProductType" type="gml:ReferenceType" nillable="true">
            <annotation>
              <documentation>-- Name --
thermal product type

-- Definition --
The type of thermal product that is conveyed through the thermal pipe.</documentation>
              <appinfo>
                <taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">technicalGuidance</taggedValue>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ThermalPipePropertyType">
    <sequence minOccurs="0">
      <element ref="us-net-th:ThermalPipe"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
