draft-schemas/su-grid/2.0/StatisticalUnitGrid.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:su-core="http://inspire.jrc.ec.europa.eu/schemas/su-core/2.0" xmlns:su-grid="http://inspire.jrc.ec.europa.eu/schemas/su-grid/2.0" elementFormDefault="qualified" targetNamespace="http://inspire.jrc.ec.europa.eu/schemas/su-grid/2.0" version="2.0">
  <annotation>
    <documentation>-- Definition --
Package containing classes to represent statistical grids.</documentation>
  </annotation>
  <import namespace="http://inspire.jrc.ec.europa.eu/schemas/su-core/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/su-core/2.0/StatisticalUnitCore.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="StatisticalGrid" substitutionGroup="gml:AbstractFeature" type="su-grid:StatisticalGridType">
    <annotation>
      <documentation>-- Definition --
A grid composed of statistical cells.

-- Description --
Such grid is associated with an upper grid, that has a bigger resolution, and a lower grid that has a lower resolution. Some statistical grids are organised into a hierarchy of grids with different resolutions. The cells composing two linked grids have to satisfy some topological constraints: each cell of the upper grid should be the aggregation of cells of the lower grid.

EXAMPLE The hierarchical structure is a quadtree if the grids are composed of quadrilateral cells and each cell is composed of less than four cells of the lower level.</documentation>
    </annotation>
  </element>
  <complexType name="StatisticalGridType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>-- Definition --
External object identifier of the spatial object.

-- Description --
An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
          </element>
          <element name="EPSGCode" type="integer">
            <annotation>
              <documentation>-- Definition --
The EPSG code to identify the grid Coordinate Referencing System.</documentation>
            </annotation>
          </element>
          <element name="resolution" type="su-grid:StatisticalGridResolutionPropertyType">
            <annotation>
              <documentation>-- Definition --
The grid resolution.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="origin" type="gml:DirectPositionType">
            <annotation>
              <documentation>-- Definition --
The position of the origin point of the grid in the specified coordinate reference system (if defined).

-- Description --
The origin point is the lower left grid point.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="width" type="integer">
            <annotation>
              <documentation>-- Definition --
The grid width, in cell number (if defined).</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="height" type="integer">
            <annotation>
              <documentation>-- Definition --
The grid height, in cell number (if defined).</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="cells">
            <annotation>
              <documentation>-- Definition --
-- Definition --
The cells composing a grid.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-grid:grid</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="su-grid:StatisticalGridCell"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="lower" nillable="true">
            <annotation>
              <documentation>-- Definition --
The immediately lower statistical grid.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-grid:upper</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="su-grid:StatisticalGrid"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element minOccurs="0" name="upper" nillable="true">
            <annotation>
              <documentation>-- Definition --
The immediately upper statistical grid.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-grid:lower</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="su-grid:StatisticalGrid"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StatisticalGridPropertyType">
    <sequence minOccurs="0">
      <element ref="su-grid:StatisticalGrid"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="StatisticalGridCell" substitutionGroup="su-core:StatisticalUnit" type="su-grid:StatisticalGridCellType">
    <annotation>
      <documentation>-- Definition --
Unit for dissemination or use of statistical information that is represented as a grid cell.

-- Description --
A statistical grid cell is associated with:
- the unique statistical grid cell of its upper level (if any) it is covered by,
- the statistical grid cells of its lower level (if any) it covers.

NB Statistical grid cells are squares.

EXAMPLE In a quadtree structure, some cells are associated with the four cells they are decomposed into.</documentation>
    </annotation>
  </element>
  <complexType name="StatisticalGridCellType">
    <complexContent>
      <extension base="su-core:StatisticalUnitType">
        <sequence>
          <element name="code" nillable="true">
            <annotation>
              <documentation>-- Definition --
A cell code. This code acts like an identifier.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="string">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="geographicalPosition" nillable="true">
            <annotation>
              <documentation>-- Definition --
The grid cell lower left cell corner geographical position.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:DirectPositionType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="gridPosition" nillable="true">
            <annotation>
              <documentation>-- Definition --
The grid cell position within the grid based on the grid coordinates.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="su-grid:GridPosition"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="geometry" nillable="true">
            <annotation>
              <documentation>-- Definition --
The grid cell geometry.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="gml:PolygonPatch"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element name="grid" type="su-grid:StatisticalGridPropertyType">
            <annotation>
              <documentation>-- Definition --
The grid made up of cells.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-grid:cells</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="lowers" nillable="true">
            <annotation>
              <documentation>-- Definition --
The immediately lower statistical grid cells.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-grid:upper</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="su-grid:StatisticalGridCell"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
          <element minOccurs="0" name="upper" nillable="true">
            <annotation>
              <documentation>-- Definition --
The immediately upper statistical grid cell.</documentation>
              <appinfo>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">su-grid:lowers</reversePropertyName>
              </appinfo>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="su-grid:StatisticalGridCell"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="StatisticalGridCellPropertyType">
    <sequence minOccurs="0">
      <element ref="su-grid:StatisticalGridCell"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="GridPosition" substitutionGroup="gml:AbstractObject" type="su-grid:GridPositionType">
    <annotation>
      <documentation>-- Definition --
A grid cell position within a grid.</documentation>
    </annotation>
  </element>
  <complexType name="GridPositionType">
    <sequence>
      <element name="x" type="integer">
        <annotation>
          <documentation>-- Definition --
The position of the cell on the horizontal axis, starting from the left side, toward the right, from 0 to the grid width -1.</documentation>
        </annotation>
      </element>
      <element name="y" type="integer">
        <annotation>
          <documentation>-- Definition --
The position of the cell on the vertical axis, starting from the bottom toward the top, from 0 to the grid height -1.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="GridPositionPropertyType">
    <sequence>
      <element ref="su-grid:GridPosition"/>
    </sequence>
  </complexType>
  <element name="StatisticalGridResolution" substitutionGroup="gml:AbstractObject" type="su-grid:StatisticalGridResolutionType">
    <annotation>
      <documentation>-- Definition --
A statistical unit resolution value.

-- Definition --
The resolution can be a distance or an angle.</documentation>
    </annotation>
  </element>
  <complexType name="StatisticalGridResolutionType">
    <choice>
      <element name="lengthResolution" type="gml:LengthType">
        <annotation>
          <documentation>-- Definition --
A distance resolution.</documentation>
        </annotation>
      </element>
      <element name="angleResolution" type="gml:AngleType">
        <annotation>
          <documentation>-- Definition --
An angle resolution.</documentation>
        </annotation>
      </element>
    </choice>
  </complexType>
  <complexType name="StatisticalGridResolutionPropertyType">
    <sequence>
      <element ref="su-grid:StatisticalGridResolution"/>
    </sequence>
  </complexType>
</schema>
