draft-schemas/us-net-wa/3.0rc1/WaterNetworkCore.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" xmlns:us-net-common-core="http://inspire.ec.europa.eu/schemas/us-net-common-core/3.0" xmlns:us-net-wa-core="http://inspire.ec.europa.eu/schemas/us-net-wa-core/3.0" targetNamespace="http://inspire.ec.europa.eu/schemas/us-net-wa-core/3.0" elementFormDefault="qualified" version="3.0">
	<annotation>
		<documentation>-- Definition --
Water network sub-domain.</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/us-net-common-core/3.0" schemaLocation="https://inspire.ec.europa.eu//draft-schemas/us-net-coco/3.0rc1/UtilityNetworksCommonCore.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="WaterPipe" type="us-net-wa-core:WaterPipeType" substitutionGroup="us-net-common-core:Pipe">
		<annotation>
			<documentation>-- Name --
water pipe

-- Definition --
A water pipe used to convey water from one location to another.</documentation>
		</annotation>
	</element>
	<complexType name="WaterPipeType">
		<complexContent>
			<extension base="us-net-common-core:PipeType">
				<sequence>
					<element name="waterType" nillable="true">
						<annotation>
							<documentation>-- Name --
water type

-- Definition --
Type of water.</documentation>
							<appinfo>
								<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">implementingRule</taggedValue>
							</appinfo>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="gml:CodeType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="WaterPipePropertyType">
		<sequence minOccurs="0">
			<element ref="us-net-wa-core:WaterPipe"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
