draft-schemas/bu-core2d/3.0rc1/BuildingCore2D.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2012 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission Digit) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:bu-base="http://inspire.ec.europa.eu/schemas/bu-base/3.0rc1" xmlns:bu-core2d="http://inspire.ec.europa.eu/schemas/bu-core2d/3.0rc1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" elementFormDefault="qualified" targetNamespace="http://inspire.ec.europa.eu/schemas/bu-core2d/3.0rc1" version="3.0rc1">
	<annotation>
		<documentation>-- Definition --
The core 2D application schema for INSPIRE theme building.</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/bu-base/3.0rc1" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/bu-base/3.0rc1/BuildingsBase.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="Building" substitutionGroup="bu-base:AbstractBuilding" type="bu-core2d:BuildingType">
		<annotation>
			<documentation>-- Definition --
A Building is an enclosed &lt;b&gt;construction &lt;/b&gt;above and/or underground, used or intended for the shelter of humans, animals or things or for the production of economic goods. A building refers to any structure permanently constructed or erected on its site.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingType">
		<complexContent>
			<extension base="bu-base:AbstractBuildingType">
				<sequence>
					<element maxOccurs="unbounded" name="geometry2D" type="bu-core2d:BuildingGeometry2DPropertyType">
						<annotation>
							<documentation>-- Definition --
&lt;font color="#0f0f0f"&gt;Geometric representation of the building, as 2D or 2,5D data.&lt;/font&gt;
&lt;font color="#0f0f0f"&gt;-- Description --&lt;/font&gt;
&lt;font color="#0f0f0f"&gt;NOTE: Multiple representations of the geometry are possible (e.g. by surface and by point).&lt;/font&gt;</documentation>
						</annotation>
					</element>
					<element maxOccurs="unbounded" minOccurs="0" name="parts" nillable="true">
						<annotation>
							<documentation>-- Definition --
The building parts composing the Building.
-- Description --
A building may be a simple building (with no BuildingPart) or a composed building (with several BuildingParts).</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="bu-core2d:BuildingPart"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BuildingPropertyType">
		<sequence minOccurs="0">
			<element ref="bu-core2d:Building"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BuildingPart" substitutionGroup="bu-base:AbstractBuilding" type="bu-core2d:BuildingPartType">
		<annotation>
			<documentation>-- Definition --
A BuildingPart is a sub-division of a Building that might be considered itself as a building.

-- Description --

NOTE 1: A BuildingPart is homogeneous related to its physical, functional or temporal aspects. 
NOTE 2: Building and BuildingPart share the same set of properties.
EXAMPLE: A Building may be composed of two BuildingParts having different heights above ground.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingPartType">
		<complexContent>
			<extension base="bu-base:AbstractBuildingType">
				<sequence>
					<element maxOccurs="unbounded" name="geometry2D" type="bu-core2d:BuildingGeometry2DPropertyType">
						<annotation>
							<documentation>-- Definition --
&lt;font color="#0f0f0f"&gt;Geometric representation of the building part, as 2D or 2,5D data.&lt;/font&gt;
&lt;font color="#0f0f0f"&gt;-- Description --&lt;/font&gt;
&lt;font color="#0f0f0f"&gt;NOTE: Multiple representations of the geometry are possible (e.g. by surface and by point).&lt;/font&gt;</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="BuildingPartPropertyType">
		<sequence minOccurs="0">
			<element ref="bu-core2d:BuildingPart"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="BuildingGeometry2D" substitutionGroup="gml:AbstractObject" type="bu-core2d:BuildingGeometry2DType">
		<annotation>
			<documentation>-- Definition --
This data types includes the geometry of the building and metadata information about which element of the building was captured and how.</documentation>
		</annotation>
	</element>
	<complexType name="BuildingGeometry2DType">
		<sequence>
			<element name="geometry" type="gml:GeometryPropertyType">
				<annotation>
					<documentation>-- Definition --
Geometric representation of the building as 2D or 2,5D data.</documentation>
				</annotation>
			</element>
			<element name="horizontalGeometryEstimatedAccuracy" nillable="true">
				<annotation>
					<documentation>-- Definition --
The estimated absolute positional accuracy of the (X,Y) coordinates of the geometry of the building, in the INSPIRE official Coordinate Reference System. Absolute positional accuracy is defined as the mean value of the positional uncertainties for a set of positions where the positional uncertainties are defined as the distance between a measured position and what is considered as the corresponding true position.
-- Description --
NOTE: This mean value may come from quality measures on a homogeneous population of buildings or from an estimation based on the knowledge of the production processes and of their accuracy.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="gml:LengthType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="horizontalGeometryReference" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Definition --
Element of the building that was captured by (X,Y) coordinates.</documentation>
					<appinfo>
						<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
					</appinfo>
				</annotation>
			</element>
			<element name="referenceGeometry">
				<annotation>
					<documentation>-- Definition --
The geometry to be taken into account by view services, for portrayal.
-- Description --
NOTE 1: In case of multiple representation by point and by surface, it is recommended to provide the surface as reference geometry.
NOTE 2: The referenceGeometry may also be used preferably for spatial queries by download services (WFS) or by Geographical Information System (GIS).</documentation>
				</annotation>
			</element>
			<element minOccurs="0" name="verticalGeometryEstimatedAccuracy" nillable="true">
				<annotation>
					<documentation>-- Definition --
The estimated absolute positional accuracy of the Z coordinates of the geometry of the building, in the INSPIRE official Coordinate Reference System. Absolute positional accuracy is defined as the mean value of the positional uncertainties for a set of positions where the positional uncertainties are defined as the distance between a measured position and what is considered as the corresponding true position.
-- Description --
NOTE: This mean value may come from quality measures on a homogeneous population of buildings or from an estimation based on the knowledge of the production processes and of their accuracy.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="gml:LengthType">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element minOccurs="0" name="verticalGeometryReference" type="gml:ReferenceType">
				<annotation>
					<documentation>-- Definition --
Element of the building that was captured by vertical coordinates.</documentation>
					<appinfo>
						<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="obligation">IR</taggedValue>
					</appinfo>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="BuildingGeometry2DPropertyType">
		<sequence>
			<element ref="bu-core2d:BuildingGeometry2D"/>
		</sequence>
	</complexType>
</schema>
