draft-schemas/tn-c/3.1rc1/CableTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:net="urn:x-inspire:specification:gmlas:Network:3.2" xmlns:tn="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" xmlns:tn-c="urn:x-inspire:specification:gmlas:CableTransportNetwork:3.0" xmlns:base-cl="http://inspire.ec.europa.eu/schemas/base-cl/1.0" targetNamespace="urn:x-inspire:specification:gmlas:CableTransportNetwork:3.0" elementFormDefault="qualified" version="3.1rc1">
	<annotation>
		<documentation>-- Definition --&#13;
This package defines the types that are used on the cable subtheme.</documentation>
	</annotation>
	<import namespace="urn:x-inspire:specification:gmlas:Network:3.2" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/net/3.3rc1/Network.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:CommonTransportElements:3.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/tn/3.1rc1/CommonTransportElements.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://inspire.ec.europa.eu/schemas/base-cl/1.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/base-cl/1.0rc1/codelists.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="CablewayNode" type="tn-c:CablewayNodeType" substitutionGroup="tn:TransportNode">
		<annotation>
			<documentation>-- Definition --&#13;
A point spatial object that is used to represent connectivity between two consecutive cableway links.&#13;
</documentation>
		</annotation>
	</element>
	<complexType name="CablewayNodeType">
		<complexContent>
			<extension base="tn:TransportNodeType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CablewayNodePropertyType">
		<sequence minOccurs="0">
			<element ref="tn-c:CablewayNode"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CablewayLink" type="tn-c:CablewayLinkType" substitutionGroup="tn:TransportLink">
		<annotation>
			<documentation>-- Definition --&#13;
Linear spatial object that describes the geometry and connectivity of a cable network between two points in a cableway transport network.&#13;
&#13;
-- Description --&#13;
NOTE Cableway transport is a form of transport based on a cable suspended normally from a set of consecutive towers.&#13;
</documentation>
		</annotation>
	</element>
	<complexType name="CablewayLinkType">
		<complexContent>
			<extension base="tn:TransportLinkType">
				<sequence>
					<element name="cablewayType" type="base-cl:CodeListType" nillable="true">
						<annotation>
							<documentation>-- Definition --&#13;
The type of a cableway transport.&#13;
</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CablewayLinkPropertyType">
		<sequence minOccurs="0">
			<element ref="tn-c:CablewayLink"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CablewayLinkSequence" type="tn-c:CablewayLinkSequenceType" substitutionGroup="tn:TransportLinkSequence">
		<annotation>
			<documentation>-- Definition --&#13;
An ordered collection of cableway links that are characterized by one or more thematic identifiers and/or properties.&#13;
</documentation>
		</annotation>
	</element>
	<complexType name="CablewayLinkSequenceType">
		<complexContent>
			<extension base="tn:TransportLinkSequenceType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CablewayLinkSequencePropertyType">
		<sequence minOccurs="0">
			<element ref="tn-c:CablewayLinkSequence"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="CablewayLinkSet" type="tn-c:CablewayLinkSetType" substitutionGroup="tn:TransportLinkSet">
		<annotation>
			<documentation>-- Definition --&#13;
A collection of cableway link sequences and or individual cableway links that has a specific function or significance in a cable transport network. &#13;
</documentation>
		</annotation>
	</element>
	<complexType name="CablewayLinkSetType">
		<complexContent>
			<extension base="tn:TransportLinkSetType">
				<sequence/>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="CablewayLinkSetPropertyType">
		<sequence minOccurs="0">
			<element ref="tn-c:CablewayLinkSet"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
