draft-schemas/omor/2.9/ObservationReferences.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:ef="http://inspire.ec.europa.eu/schemas/ef/3.0rc2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:om="http://www.opengis.net/om/2.0" xmlns:omor="http://inspire.ec.europa.eu/schemas/omor/2.9" targetNamespace="http://inspire.ec.europa.eu/schemas/omor/2.9" elementFormDefault="qualified" version="2.9">
	<annotation>
		<documentation>Observation References</documentation>
	</annotation>
	<import namespace="http://inspire.ec.europa.eu/schemas/ef/3.0rc2" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/ef/3.0rc2/EnvironmentalMonitoringFacilities.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<element name="EnvironmentalMonitoringFeatureReference" type="omor:EnvironmentalMonitoringFeatureReferenceType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
EnvironmentalMonitoringFeatureReference

-- Definition --
A reference to an INSPIRE EnvironmentalMonitoringFeature Object

-- Description --
This class has been defined in order to provide a reference from an Observation to an EnvironmentalMonitoringFeature. The EnvironmentalMonitoringFeatureReference should be provided in the Observation Parameter attribute in the value, the name should be "EnvironmentalMonitoringFeature"</documentation>
		</annotation>
	</element>
	<complexType name="EnvironmentalMonitoringFeatureReferenceType">
		<sequence>
			<element name="observingFeature" type="ef:AbstractMonitoringFeaturePropertyType">
				<annotation>
					<documentation>-- Name --
observing feature

-- Definition --
The monitoring feature being refered to.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="EnvironmentalMonitoringFeatureReferencePropertyType">
		<sequence>
			<element ref="omor:EnvironmentalMonitoringFeatureReference"/>
		</sequence>
	</complexType>
	<element name="ObservationReference" type="omor:ObservationReferenceType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
ObservationReference

-- Definition --
A reference to an Observation.

-- Description --
This reference type can be used to refer to an observation from an attribute of a different class.</documentation>
		</annotation>
	</element>
	<complexType name="ObservationReferenceType">
		<sequence>
			<element name="observation" type="om:OM_ObservationPropertyType">
				<annotation>
					<documentation>-- Name --
observation

-- Definition --
The Observation being refered to</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ObservationReferencePropertyType">
		<sequence>
			<element ref="omor:ObservationReference"/>
		</sequence>
	</complexType>
	<element name="ObservationSet" type="omor:ObservationSetType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
ObservationSet

-- Definition --
Links a set of Observations

-- Description --
This class is used to link multiple related Observations together</documentation>
		</annotation>
	</element>
	<complexType name="ObservationSetType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="extent">
						<annotation>
							<documentation>-- Name --
extent

-- Definition --
Information about the spatial and temporal extent of AtmosphericCondition.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence minOccurs="0">
										<element ref="gmd:EX_Extent"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Name --
inspireId

-- Definition --
External object identifier  by which  an instance of  inspire O&amp;M process is known.
-- Definition –
-- Description --</documentation>
						</annotation>
					</element>
					<element name="member" type="om:OM_ObservationPropertyType" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Name --
member
-- Definition --
One member of the ObservationSet</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ObservationSetPropertyType">
		<sequence minOccurs="0">
			<element ref="omor:ObservationSet"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
</schema>
