draft-schemas/ef/3.0rc2/EnvironmentalMonitoringFacilities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:base2="http://inspire.ec.europa.eu/schemas/base2/0.1rc2" xmlns:ef="http://inspire.ec.europa.eu/schemas/ef/3.0rc2" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:om="http://www.opengis.net/om/2.0" xmlns:sc="http://www.interactive-instruments.de/ShapeChange/AppInfo" targetNamespace="http://inspire.ec.europa.eu/schemas/ef/3.0rc2" elementFormDefault="qualified" version="3.0rc2">
	<import namespace="http://inspire.ec.europa.eu/schemas/base2/0.1rc2" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/base2/0.1rc2/BaseTypes2.xsd"/>
	<import namespace="http://www.interactive-instruments.de/ShapeChange/AppInfo" schemaLocation="http://portele.de/ShapeChangeAppinfo.xsd"/>
	<import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
	<import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<simpleType name="ResultAcquisitionSourceValueType">
		<annotation>
			<documentation>-- Name --
result acquisition source

-- Definition --
Defines categories for different types of the ResultAcquisitionSource.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/ResultAcquisitionSourceValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="ef:ResultAcquisitionSourceValueEnumerationType ef:ResultAcquisitionSourceValueOtherType"/>
	</simpleType>
	<simpleType name="ResultAcquisitionSourceValueEnumerationType">
		<annotation>
			<documentation>-- Name --
result acquisition source

-- Definition --
Defines categories for different types of the ResultAcquisitionSource.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/ResultAcquisitionSourceValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ResultAcquisitionSourceValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="ObservingCapability" type="ef:ObservingCapabilityType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
observing capability

-- Definition --
Explicit capability of an AbstractMonitoringObject.</documentation>
		</annotation>
	</element>
	<complexType name="ObservingCapabilityType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="observingTime" nillable="true">
						<annotation>
							<documentation>-- Definition --
Describes the time period that observations can be expected from this AbstractMonitoringObject. Can be only a start time for running measurements or an interval.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gml:AbstractTimeObject"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="processType" nillable="true">
						<annotation>
							<documentation>-- Definition --
The type of object used for describing the process.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="ef:ProcessTypeValueType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="resultNature" nillable="true">
						<annotation>
							<documentation>-- Definition --
State of the provided result.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="ef:ResultNatureValueType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="onlineResource" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
A link to an external document providing further information about an ISO 19156 'Observations and Measurements' compliant data model used to store and/or exchange Observations and Measurements acquired.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="anyURI">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="observedProperty" type="gml:ReferenceType"/>
					<element name="featureOfInterest" type="gml:FeaturePropertyType" minOccurs="0"/>
					<element name="procedure" type="om:OM_ProcessPropertyType"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="ObservingCapabilityPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:ObservingCapability"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="MediaValueType">
		<annotation>
			<documentation>-- Name --
media

-- Definition --
Extendable CodeList that defines categories for different types of media.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/MediaValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="ef:MediaValueEnumerationType ef:MediaValueOtherType"/>
	</simpleType>
	<simpleType name="MediaValueEnumerationType">
		<annotation>
			<documentation>-- Name --
media

-- Definition --
Extendable CodeList that defines categories for different types of media.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/MediaValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="MediaValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="EnvironmentalMonitoringActivity" type="ef:EnvironmentalMonitoringActivityType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
environmental monitoring activity

-- Definition --
Specific set of AbstractMonitoringFeatures used for a given domain in a coherent and concise timeframe, area and purpose. Usually the information collected is treated as one time step in a long term monitoring programme. It is a concrete realisation of a given EnvironmentalMonitoringProgramme.

-- Description --
For example a vessel could be equipped with a collection of EnvironmentalMonitoringFacilities for a given campaign (= EnvironmentalMonitoringActivity) fulfilling an EnvironmentalMonitoringProgramme requirements. Then, after a given period this exact same vessel could be equipped with another set of EnvironmentalMonitoringFacilities for another campaign fulfilling another EnvironmentalMonitoringProgramme requirements.</documentation>
		</annotation>
	</element>
	<complexType name="EnvironmentalMonitoringActivityType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="activityTime" nillable="true">
						<annotation>
							<documentation>-- Definition --
Lifespan of the EnvironmentalMonitoringActivity.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gml:AbstractTimeObject"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="activityConditions" nillable="true">
						<annotation>
							<documentation>-- Definition --
Textual description of the EnvironmentalMonitoringActivity.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="boundingBox" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
Bounding box in which the EnvironmentalMonitoringActivity takes place. 

-- Description --
EXAMPLE: If a research vessel has several monitoring activities (EnvironmentalMonitoringActivity) one wants to know where he cruised for each of those (EnvironmentaMonitoringActivity).</documentation>
						</annotation>
					</element>
					<element name="responsibleParty" nillable="true">
						<annotation>
							<documentation>-- Definition --
Responsible party for the EnvironmentalMonitoringActivity.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence>
										<element ref="gmd:CI_ResponsibleParty"/>
									</sequence>
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --
External object identifier.</documentation>
						</annotation>
					</element>
					<element name="onlineResource" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
A link to an external document providing further information on the EnvironmentalMonitoringActivity.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence>
										<element ref="gmd:CI_OnlineResource"/>
									</sequence>
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="setUpFor" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
EnvironmentalMonitoringProgramme(s) for which the EnvironmentalMonitoringActivity is set up.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:triggers</reversePropertyName>
							</appinfo>
						</annotation>
						<complexType>
							<sequence minOccurs="0">
								<element ref="ef:EnvironmentalMonitoringProgramme"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
							<attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</complexType>
					</element>
					<element name="uses" type="ef:AbstractMonitoringFeaturePropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Specific set of AbstractMonitoringFeature(s) involved in an EnvironmentalMonitoringActivity.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:involvedIn</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EnvironmentalMonitoringActivityPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:EnvironmentalMonitoringActivity"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AbstractMonitoringObject" type="ef:AbstractMonitoringObjectType" abstract="true" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
abstract monitoring object

-- Definition --
An abstract base class for environmental monitoring objects.</documentation>
		</annotation>
	</element>
	<complexType name="AbstractMonitoringObjectType" abstract="true">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="inspireId" type="base:IdentifierPropertyType">
						<annotation>
							<documentation>-- Definition --
External object identifier.</documentation>
						</annotation>
					</element>
					<element name="name" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Plain text denotation of the AbstractMonitoringObject.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="additionalDescription" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
Plain text description of additional information not fitting in other attributes.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="mediaMonitored" type="ef:MediaValueType" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Monitored environmental medium.</documentation>
						</annotation>
					</element>
					<element name="legalBackground" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
The legal context, in which the management and regulation of the AbstractMonitoringObject is defined.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="base2:LegislationCitation"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="responsibleParty" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Responsible party for the AbstractMonitoringObject.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence>
										<element ref="gmd:CI_ResponsibleParty"/>
									</sequence>
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="geometry" type="gml:GeometryPropertyType" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
Geometry associated to the AbstractMonitoringObject.
For mobile facilities the geometry should represent the area the facility is expected to measure in.</documentation>
						</annotation>
					</element>
					<element name="onlineResource" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
A link to an external document providing further information on the AbstractMonitoringObject.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMetadataPropertyType">
									<sequence>
										<element ref="gmd:CI_OnlineResource"/>
									</sequence>
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="purpose" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Reason for which the AbstractMonitoringObject has been generated.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="ef:PurposeOfCollectionValueType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="observingCapability" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
A link pointing to the explicit capability of an AbstractMonitoringObject. This provides a clean link between the observed property, the procedure used as well as the location of the measurement</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="ef:ObservingCapability"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="broader" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
A link pointing to a broader AbstractMonitoringObject (a higher level in a hierarchical structure).</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:narrower</reversePropertyName>
							</appinfo>
						</annotation>
						<complexType>
							<sequence minOccurs="0">
								<element ref="ef:Hierarchy"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
							<attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</complexType>
					</element>
					<element name="narrower" type="ef:HierarchyPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
A link pointing to narrower AbstractMonitoringObject(s) (a lower level in a hierarchical structure).</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:broader</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
					<element name="supersedes" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
In a genealogy, the AbstractMonitoringObject(s) that has(have) been deactivated/replaced by another one.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:supersededBy</reversePropertyName>
							</appinfo>
						</annotation>
						<complexType>
							<sequence minOccurs="0">
								<element ref="ef:AbstractMonitoringObject"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
							<attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</complexType>
					</element>
					<element name="supersededBy" type="ef:AbstractMonitoringObjectPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
In a genealogy, the newly active AbstractMonitoringObject(s) that replaces(replace) the superseded one.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:supersedes</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AbstractMonitoringObjectPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:AbstractMonitoringObject"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="ReportToLegalAct" type="ef:ReportToLegalActType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Name --
report to legal act

-- Definition --
In the case that the information is used in the process of reporting triggered by an obligation or voluntary agreement, the reporting envelope should be stored here. The information is specific per submitted reporting envelope and not per obligation/agreement.

-- Description --
From INSPIRE perspective, an AbstractMonitoringFeature requires the provision of  ISO 19156 compliant observations &amp; measurements only in the case that these have been required by a legal reporting obligation or a commonly agreed voluntarily data flow using INSPIRE EF dataspecification for the definition of datastructure.</documentation>
		</annotation>
	</element>
	<complexType name="ReportToLegalActType">
		<sequence>
			<element name="legalAct">
				<annotation>
					<documentation>-- Definition --
LegalAct which is reported to.</documentation>
				</annotation>
				<complexType>
					<complexContent>
						<extension base="gml:AbstractMemberType">
							<sequence minOccurs="0">
								<element ref="base2:LegislationCitation"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
						</extension>
					</complexContent>
				</complexType>
			</element>
			<element name="reportDate" nillable="true">
				<annotation>
					<documentation>-- Definition --
Time of reporting.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="dateTime">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="reportedEnvelope" nillable="true" minOccurs="0">
				<annotation>
					<documentation>-- Definition --
Link to the reported dataset according to the date indicated in the attribute reportDate.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="anyURI">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="observationRequired" nillable="true">
				<annotation>
					<documentation>-- Definition --
Indicates whether an observation is required for the AbstractMonitoringFeature.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="boolean">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="observingCapabilityRequired" nillable="true">
				<annotation>
					<documentation>-- Definition --
Indicates whether the observingCapability is required for the AbstractMonitoringFeature.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="boolean">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="description" nillable="true" minOccurs="0">
				<annotation>
					<documentation>-- Definition --
Additional information on the actual data reported.</documentation>
				</annotation>
				<complexType>
					<simpleContent>
						<extension base="string">
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
		</sequence>
	</complexType>
	<complexType name="ReportToLegalActPropertyType">
		<sequence>
			<element ref="ef:ReportToLegalAct"/>
		</sequence>
	</complexType>
	<simpleType name="ResultNatureValueType">
		<annotation>
			<documentation>-- Name --
result nature

-- Definition --
State of the result of an observation.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/ResultNatureValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="ef:ResultNatureValueEnumerationType ef:ResultNatureValueOtherType"/>
	</simpleType>
	<simpleType name="ResultNatureValueEnumerationType">
		<annotation>
			<documentation>-- Name --
result nature

-- Definition --
State of the result of an observation.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/ResultNatureValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ResultNatureValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="NetworkFacility" type="ef:NetworkFacilityType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>-- Name --
network facility

-- Definition --
Link between EnvironmentalMonitoringNetwork and EnvironmentalMonitoringFacility.</documentation>
		</annotation>
	</element>
	<complexType name="NetworkFacilityType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="linkingTime" nillable="true">
						<annotation>
							<documentation>-- Definition --
Time period of the link.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gml:AbstractTimeObject"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="belongsTo" nillable="true">
						<annotation>
							<documentation>-- Definition --
A link pointing to the EnvironmentalMonitoringNetwork(s) this EnvironmentalMonitoringFacility pertains to.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:contains</reversePropertyName>
							</appinfo>
						</annotation>
						<complexType>
							<sequence minOccurs="0">
								<element ref="ef:EnvironmentalMonitoringNetwork"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
							<attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</complexType>
					</element>
					<element name="contains" type="ef:EnvironmentalMonitoringFacilityPropertyType">
						<annotation>
							<documentation>-- Definition --
A link pointing to the EnvironmentalMonitoringFacility(s) included in this EnvironmentalMonitoringNetwork.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:belongsTo</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="NetworkFacilityPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:NetworkFacility"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="ProcessTypeValueType">
		<annotation>
			<documentation>-- Name --
process type

-- Definition --
Defines categories for different process types.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/ProcessTypeValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="ef:ProcessTypeValueEnumerationType ef:ProcessTypeValueOtherType"/>
	</simpleType>
	<simpleType name="ProcessTypeValueEnumerationType">
		<annotation>
			<documentation>-- Name --
process type

-- Definition --
Defines categories for different process types.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/ProcessTypeValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="ProcessTypeValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="Hierarchy" type="ef:HierarchyType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>--Name --
hierarchy

-- Definition --
Hierachical link between AbstractMonitoringObjects.</documentation>
		</annotation>
	</element>
	<complexType name="HierarchyType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="linkingTime" nillable="true">
						<annotation>
							<documentation>-- Definition --
Time period of the link.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gml:AbstractTimeObject"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
					<element name="broader" nillable="true">
						<annotation>
							<documentation>-- Definition --
A link pointing to a broader AbstractMonitoringObject (a higher level in a hierarchical structure).</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:narrower</reversePropertyName>
							</appinfo>
						</annotation>
						<complexType>
							<sequence minOccurs="0">
								<element ref="ef:AbstractMonitoringObject"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
							<attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</complexType>
					</element>
					<element name="narrower" type="ef:AbstractMonitoringObjectPropertyType">
						<annotation>
							<documentation>-- Definition --
A link pointing to narrower AbstractMonitoringObject(s) (a lower level in a hierarchical structure).</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:broader</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="HierarchyPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:Hierarchy"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="AbstractMonitoringFeature" type="ef:AbstractMonitoringFeatureType" abstract="true" substitutionGroup="ef:AbstractMonitoringObject">
		<annotation>
			<documentation>-- Name --
abstract monitoring feature

-- Definition --
An abstract base class for environmental monitoring features in the real world (EnvironmentalMonitoringNetwork, EnvironmentalMonitoringFacility).

-- Description --
NOTE: From an Environmental Monitoring Facilities theme perspective, an AbstractMonitoringFeature mandates the provision of Observations only in the case these have been required under a given INSPIRE based reporting or a commonly agreed voluntarily data flow.</documentation>
		</annotation>
	</element>
	<complexType name="AbstractMonitoringFeatureType" abstract="true">
		<complexContent>
			<extension base="ef:AbstractMonitoringObjectType">
				<sequence>
					<element name="reportedTo" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
The Legal Act which the AbstractMonitoringFeature is reported to.</documentation>
						</annotation>
						<complexType>
							<sequence>
								<element ref="ef:ReportToLegalAct"/>
							</sequence>
							<attribute name="nilReason" type="gml:NilReasonType"/>
						</complexType>
					</element>
					<element name="involvedIn" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
EnvironmentalMonitoringActivity(s) in which the AbstractMonitoringFeature is involved.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:uses</reversePropertyName>
							</appinfo>
						</annotation>
						<complexType>
							<sequence minOccurs="0">
								<element ref="ef:EnvironmentalMonitoringActivity"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
							<attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</complexType>
					</element>
					<element name="hasObservation" type="om:OM_ObservationPropertyType" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AbstractMonitoringFeaturePropertyType">
		<sequence minOccurs="0">
			<element ref="ef:AbstractMonitoringFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="OperationalActivityPeriod" type="ef:OperationalActivityPeriodType" substitutionGroup="gml:AbstractFeature">
		<annotation>
			<documentation>-- Name --
operational activity period

-- Definition --
Corresponds to a period during which the EnvironmentalMonitoringFacility has been up and running.</documentation>
		</annotation>
	</element>
	<complexType name="OperationalActivityPeriodType">
		<complexContent>
			<extension base="gml:AbstractFeatureType">
				<sequence>
					<element name="activityTime">
						<annotation>
							<documentation>-- Definition --
Lifespan of the OperationalActivityPeriod.</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="gml:AbstractTimeObject"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="OperationalActivityPeriodPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:OperationalActivityPeriod"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="PurposeOfCollectionValueType">
		<annotation>
			<documentation>-- Name --
purpose of collection

-- Definition --
Extendable CodeList that defines categories for different puposes of collections.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">none</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="ef:PurposeOfCollectionValueEnumerationType ef:PurposeOfCollectionValueOtherType"/>
	</simpleType>
	<simpleType name="PurposeOfCollectionValueEnumerationType">
		<annotation>
			<documentation>-- Name --
purpose of collection

-- Definition --
Extendable CodeList that defines categories for different puposes of collections.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">none</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="PurposeOfCollectionValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="EnvironmentalMonitoringProgramme" type="ef:EnvironmentalMonitoringProgrammeType" substitutionGroup="ef:AbstractMonitoringObject">
		<annotation>
			<documentation>-- Name --
environmental monitoring programme

-- Definition --
Framework based on policy relevant documents defining the target of a collection of observations and/or the deployment of AbstractMonitoringFeatures on the field. 
Usually an Environmental Monitoring Programme has a long term perspective over at least a few years.</documentation>
		</annotation>
	</element>
	<complexType name="EnvironmentalMonitoringProgrammeType">
		<complexContent>
			<extension base="ef:AbstractMonitoringObjectType">
				<sequence>
					<element name="triggers" type="ef:EnvironmentalMonitoringActivityPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
EnvironmentalMonitoringActivity(s) triggered by the EnvironmentalMonitoringProgramme.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:setUpFor</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EnvironmentalMonitoringProgrammePropertyType">
		<sequence minOccurs="0">
			<element ref="ef:EnvironmentalMonitoringProgramme"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EnvironmentalMonitoringFacility" type="ef:EnvironmentalMonitoringFacilityType" substitutionGroup="ef:AbstractMonitoringFeature">
		<annotation>
			<documentation>-- Name --
environmental monitoring facility

-- Definition --
A georeferenced object directly collecting and/or processing data, or hosting other EnvironmentalMonitoringFacility objects
collecting data about features whose properties (e.g. physical, chemical, biological or other aspects of environmental conditions) are repeatedly observed/measured.

-- Description --
NOTE 1: An EnvironmentalMonitoringFacility is not a facility in the common INSPIRE sense realised by the Generic Conceptual Model class ActivtiyComplex.

NOTE 2: Laboratories are not EnvironmentalMonitoringFacilities from an INSPIRE perspective as the exact location of the laboratory does not add further information to the measurement. 
The methodology used in the laboratory should be provided with observational data.</documentation>
		</annotation>
	</element>
	<complexType name="EnvironmentalMonitoringFacilityType">
		<complexContent>
			<extension base="ef:AbstractMonitoringFeatureType">
				<sequence>
					<element name="representativePoint" type="gml:PointPropertyType" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
Representative location for the EnvironmentalMonitoringFacility.

-- Description --

Conditional with geometry: if no geometry (inherited from the AbstractMonitoringObject) the representativePoint shall be made available.</documentation>
						</annotation>
					</element>
					<element name="measurementRegime" nillable="true">
						<annotation>
							<documentation>-- Definition --
Regime of the measurement</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="ef:MeasurementRegimeValueType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="mobile" nillable="true">
						<annotation>
							<documentation>-- Definition --
Indicate whether the EnvironmentalMonitoringFacility is mobile (repositionable) during the acquisition of the observation.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="boolean">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="resultAcquisitionSource" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Source of result acquisition</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="ef:ResultAcquisitionSourceValueType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="specialisedEMFType" nillable="true" minOccurs="0">
						<annotation>
							<documentation>-- Definition --
Categorisation of EnvironmentalMonitoringFacilities generally used by domain and in national settings.
Cross-domain values are not provided as this is not maintainable.

-- Description --
EXAMPLE: platform, site, station, sensor, ...</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="ef:SpecialisedEMFTypeValueType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="relatedTo" type="ef:AnyDomainLinkPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Any Thematic Link to an Environmental Monitoring Facility</documentation>
						</annotation>
					</element>
					<element name="belongsTo" nillable="true" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
A link pointing to the EnvironmentalMonitoringNetwork(s) this EnvironmentalMonitoringFacility pertains to.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:contains</reversePropertyName>
							</appinfo>
						</annotation>
						<complexType>
							<sequence minOccurs="0">
								<element ref="ef:NetworkFacility"/>
							</sequence>
							<attributeGroup ref="gml:AssociationAttributeGroup"/>
							<attributeGroup ref="gml:OwnershipAttributeGroup"/>
						</complexType>
					</element>
					<element name="operationalActivityPeriod" nillable="true" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
Lifespan of the physical object (facility).</documentation>
						</annotation>
						<complexType>
							<complexContent>
								<extension base="gml:AbstractMemberType">
									<sequence minOccurs="0">
										<element ref="ef:OperationalActivityPeriod"/>
									</sequence>
									<attributeGroup ref="gml:AssociationAttributeGroup"/>
								</extension>
							</complexContent>
						</complexType>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EnvironmentalMonitoringFacilityPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:EnvironmentalMonitoringFacility"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="EnvironmentalMonitoringNetwork" type="ef:EnvironmentalMonitoringNetworkType" substitutionGroup="ef:AbstractMonitoringFeature">
		<annotation>
			<documentation>-- Name --
environmental monitoring network

-- Definition --
Administrative/organisational grouping of EnvironmentalMonitoringFacilities managed the same way for a specific purpose, targeting a specific area.
Each network respects common rules aiming at ensuring coherence of the observations, especially for purposes of EnvironmentalMonitoringFacilities, mandatory parameters selection, measurement methods and sampling regime.</documentation>
		</annotation>
	</element>
	<complexType name="EnvironmentalMonitoringNetworkType">
		<complexContent>
			<extension base="ef:AbstractMonitoringFeatureType">
				<sequence>
					<element name="organisationLevel" nillable="true">
						<annotation>
							<documentation>-- Definition --
Level of legal organisation the EnvironmentalMonitoringNetwork is affiliated with.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="gml:CodeType">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="contains" type="ef:NetworkFacilityPropertyType" minOccurs="0" maxOccurs="unbounded">
						<annotation>
							<documentation>-- Definition --
A link pointing to the EnvironmentalMonitoringFacility(s) included in this EnvironmentalMonitoringNetwork.</documentation>
							<appinfo>
								<reversePropertyName xmlns="http://www.opengis.net/gml/3.2">ef:belongsTo</reversePropertyName>
							</appinfo>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="EnvironmentalMonitoringNetworkPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:EnvironmentalMonitoringNetwork"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="MeasurementRegimeValueType">
		<annotation>
			<documentation>-- Name --
measurement regime

-- Definition --
Defines categories for different types of the MeasurementRegime.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/MeasurementRegimeValue</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="ef:MeasurementRegimeValueEnumerationType ef:MeasurementRegimeValueOtherType"/>
	</simpleType>
	<simpleType name="MeasurementRegimeValueEnumerationType">
		<annotation>
			<documentation>-- Name --
measurement regime

-- Definition --
Defines categories for different types of the MeasurementRegime.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">none</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">http://inspire.ec.europa.eu/codeList/MeasurementRegimeValue</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="MeasurementRegimeValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
	<element name="AnyDomainLink" type="ef:AnyDomainLinkType" substitutionGroup="gml:AbstractGML">
		<annotation>
			<documentation>-- Name --
any domain link

-- Definition --
Any domain relevant link to an EnvironmentalMonitoringFacility that is not hierarchical or associated with a notion of genealogy.</documentation>
		</annotation>
	</element>
	<complexType name="AnyDomainLinkType">
		<complexContent>
			<extension base="gml:AbstractGMLType">
				<sequence>
					<element name="comment" nillable="true">
						<annotation>
							<documentation>-- Definition --
Additional information on the domain link.</documentation>
						</annotation>
						<complexType>
							<simpleContent>
								<extension base="string">
									<attribute name="nilReason" type="gml:NilReasonType"/>
								</extension>
							</simpleContent>
						</complexType>
					</element>
					<element name="relatedTo" type="ef:EnvironmentalMonitoringFacilityPropertyType">
						<annotation>
							<documentation>-- Definition --
Any Thematic Link to an Environmental Monitoring Facility</documentation>
						</annotation>
					</element>
				</sequence>
			</extension>
		</complexContent>
	</complexType>
	<complexType name="AnyDomainLinkPropertyType">
		<sequence minOccurs="0">
			<element ref="ef:AnyDomainLink"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<simpleType name="SpecialisedEMFTypeValueType">
		<annotation>
			<documentation>-- Name --
specialised EMF type

-- Definition --
Extendable CodeList that defines categories for different types of EnvironmentalMonitoringFacilities.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">none</taggedValue>
			</appinfo>
		</annotation>
		<union memberTypes="ef:SpecialisedEMFTypeValueEnumerationType ef:SpecialisedEMFTypeValueOtherType"/>
	</simpleType>
	<simpleType name="SpecialisedEMFTypeValueEnumerationType">
		<annotation>
			<documentation>-- Name --
specialised EMF type

-- Definition --
Extendable CodeList that defines categories for different types of EnvironmentalMonitoringFacilities.</documentation>
			<appinfo>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="extensibility">any</taggedValue>
				<taggedValue xmlns="http://www.interactive-instruments.de/ShapeChange/AppInfo" tag="vocabulary">none</taggedValue>
			</appinfo>
		</annotation>
		<restriction base="string"/>
	</simpleType>
	<simpleType name="SpecialisedEMFTypeValueOtherType">
		<restriction base="string">
			<pattern value="other: \w{2,}"/>
		</restriction>
	</simpleType>
</schema>
