draft-schemas/br/2.0/BiogeographicalRegions.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:br="http://inspire.jrc.ec.europa.eu/schemas/br/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" elementFormDefault="qualified" targetNamespace="http://inspire.jrc.ec.europa.eu/schemas/br/2.0" version="2.0">
  <annotation>
    <documentation>Application schema for Biogeographical Regions</documentation>
  </annotation>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="Bio-geographicalRegion" substitutionGroup="gml:AbstractFeature" type="br:Bio-geographicalRegionType">
    <annotation>
      <documentation>-- Name --
bio-geographical region

-- Definition --
An area of relatively homogeneous ecological conditions with common characteristics. 

-- Description --

EXAMPLE Europe is divided into eleven broad bio-geographical terrestrial zones and 5 zones for marine bio-geographical regions. 

NOTE The marine regions are used in the context of Natura2000 due to practical / technical reasons only; they do not have any legal status in contrast to the "terrestrial" Biogeographic Regions.</documentation>
    </annotation>
  </element>
  <complexType name="Bio-geographicalRegionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Name --
begin lifespan version

-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Name --
end lifespan version

-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="inspireId" nillable="true">
            <annotation>
              <documentation>-- Name --
inspire id

-- Definition --
External object identifier of the spatial object.

-- Description --
An external object identifier is a unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object. The identifier is an identifier of the spatial object, not an identifier of the real-world phenomenon.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="base:Identifier"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="regionClassification" type="gml:CodeType">
            <annotation>
              <documentation>-- Name --
region classification

-- Definition --
Regionclass code, according to a classification scheme.</documentation>
            </annotation>
          </element>
          <element name="regionClassificationLevel" nillable="true">
            <annotation>
              <documentation>-- Name --
region classification level

-- Definition --
The classification level of the region class.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="gml:CodeType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="regionClassificationScheme" type="gml:CodeType">
            <annotation>
              <documentation>-- Name --
region classification scheme

-- Definition --
Classification scheme used for classifying regions.</documentation>
            </annotation>
          </element>
          <element name="shape" type="gml:MultiSurfacePropertyType">
            <annotation>
              <documentation>-- Name --
shape

-- Definition --
The geometry defining the ecological region.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Bio-geographicalRegionPropertyType">
    <sequence minOccurs="0">
      <element ref="br:Bio-geographicalRegion"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
