draft-schemas/hy/3.1rc1/HydroBase.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 sp1 (x64) (http://www.altova.com) by Chris Schubert (European Commission DG JRC - IES) -->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" xmlns:hy="urn:x-inspire:specification:gmlas:HydroBase:3.0" targetNamespace="urn:x-inspire:specification:gmlas:HydroBase:3.0" elementFormDefault="qualified" version="3.1rc1">
	<annotation>
		<documentation>-- Definition --&#13;
This package provides base classes used to identify real-world objects. These identities may be used to provide implicit semantic associations between different 'implementation views'.&#13;
&#13;
-- Description --&#13;
EXAMPLE: A real-world object identified as the 'Rhine' may be realised through a Network view (as a set of links and nodes), a Physical Waters view (as a Watercourse), and a reporting view (as a WFDRiver).</documentation>
	</annotation>
	<import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/gn/3.0/GeographicalNames.xsd"/>
	<import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<!--XML Schema document created by ShapeChange-->
	<complexType name="HydroObjectPropertyType">
		<sequence>
			<element ref="gml:AbstractFeature"/>
		</sequence>
		<attributeGroup ref="gml:AssociationAttributeGroup"/>
		<attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</complexType>
	<element name="HydroIdentifier" type="hy:HydroIdentifierType" substitutionGroup="gml:AbstractObject">
		<annotation>
			<documentation>-- Definition --&#13;
A hydrographic thematic identifier.&#13;
&#13;
-- Description --&#13;
NOTE May be used to hold a national hydrological identification code.</documentation>
		</annotation>
	</element>
	<complexType name="HydroIdentifierType">
		<sequence>
			<element name="classificationScheme" type="string" minOccurs="0">
				<annotation>
					<documentation>-- Definition --&#13;
A description of the identification scheme (National, European, etc.) being used.</documentation>
				</annotation>
			</element>
			<element name="localId" type="string">
				<annotation>
					<documentation>-- Definition --&#13;
A local identifier, assigned by some authority.&#13;
&#13;
-- Description --&#13;
NOTE It will often be a national hydrographic identifier.</documentation>
				</annotation>
			</element>
			<element name="namespace" type="string">
				<annotation>
					<documentation>-- Definition --&#13;
An indicator of the scope for the local identifier.&#13;
&#13;
-- Description --&#13;
NOTE In the case of a national hydrographic identifier it should be a two-letter country code as per ISO 3166-1-Alpha-2.</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="HydroIdentifierPropertyType">
		<sequence>
			<element ref="hy:HydroIdentifier"/>
		</sequence>
	</complexType>
</schema>
