draft-schemas/bu-core2d/2.0/BuildingCore2D.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ad="urn:x-inspire:specification:gmlas:Addresses:3.0" xmlns:base="urn:x-inspire:specification:gmlas:BaseTypes:3.2" xmlns:bu-core2d="http://inspire.jrc.ec.europa.eu/schemas/bu-core2d/2.0" xmlns:cp="urn:x-inspire:specification:gmlas:CadastralParcels:3.0" xmlns:el-bas="http://inspire.jrc.ec.europa.eu/schemas/el-bas/2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gn="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" elementFormDefault="qualified" targetNamespace="http://inspire.jrc.ec.europa.eu/schemas/bu-core2d/2.0" version="2.0">
  <annotation>
    <documentation>-- Definition --
The core 2D application schema for INSPIRE theme building.</documentation>
  </annotation>
  <import namespace="http://inspire.jrc.ec.europa.eu/schemas/el-bas/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/el-bas/2.0/ElevationBase.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:Addresses:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/ad/3.0/Addresses.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:BaseTypes:3.2" schemaLocation="https://inspire.ec.europa.eu/schemas/base/3.2/BaseTypes.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:CadastralParcels:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/cp/3.0/CadastralParcels.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:GeographicalNames:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/gn/3.0/GeographicalNames.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="ExternalReference" substitutionGroup="gml:AbstractObject" type="bu-core2d:ExternalReferenceType">
    <annotation>
      <documentation>-- Definition --
Reference to an external information system containing any piece of information related to the spatial object.</documentation>
    </annotation>
  </element>
  <complexType name="ExternalReferenceType">
    <sequence>
      <element name="informationSystem" type="anyURI">
        <annotation>
          <documentation>-- Definition --
Universal Resource Identifier of the external information system</documentation>
        </annotation>
      </element>
      <element name="informationSystemName" type="gmd:LocalisedCharacterString_PropertyType">
        <annotation>
          <documentation>-- Definition --
The name of the external information system
-- Description --
EXAMPLES: Danish register of dwellings, Spanish Cadastre.</documentation>
        </annotation>
      </element>
      <element name="reference" type="string">
        <annotation>
          <documentation>-- Definition --
Thematic identifier of the construction or of any piece of information related to the construction.
-- Description --
NOTE: this reference will act as a foreign key to implement the association between the construction in the INSPIRE data set and in the external information system</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ExternalReferencePropertyType">
    <sequence>
      <element ref="bu-core2d:ExternalReference"/>
    </sequence>
  </complexType>
  <simpleType name="ConstructionNatureValueType">
    <annotation>
      <documentation>-- Definition --
Code list for the attribute construction nature.</documentation>
    </annotation>
    <union memberTypes="bu-core2d:ConstructionNatureValueEnumerationType bu-core2d:ConstructionNatureValueOtherType"/>
  </simpleType>
  <simpleType name="ConstructionNatureValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Code list for the attribute construction nature.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1_communication">
        <annotation>
          <documentation>-- Definition --
Physical structures used to convey telecommunications, radar or other signals.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_1_antenna">
        <annotation>
          <documentation>-- Definition --
A transducer designed to transmit or receive electromagnetic waves (includes radio and tv masts, radar towers and satellite telecommunications).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_2_beacon">
        <annotation>
          <documentation>-- Definition --
An aid to guide navigation and an intentionally conspicuous device designed to attract attention to a specific location.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_3_lighthouse">
        <annotation>
          <documentation>-- Definition --
A structure designed to emit light from a system of lamps and lenses used an aid to air / marine navigation.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_energy">
        <annotation>
          <documentation>-- Definition --
Physical structures used in the generation or distribution of energy.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_1_derrick">
        <annotation>
          <documentation>-- Definition --
A lifting device composed of a tower or pole which is hinged freely at the bottom.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_2_coolingTower">
        <annotation>
          <documentation>-- Definition --
Heat removal devices used to transfer process waste heat to the atmosphere.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_3_dam">
        <annotation>
          <documentation>-- Definition --
A barrier that impounds water or underground streams.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_4_pylon">
        <annotation>
          <documentation>-- Definition --
Any elongated tall support structure used to support an overhead power line.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_5_substation">
        <annotation>
          <documentation>-- Definition -- 
Part of an electrical generation, transmission and distribution system where voltage is transformed from high to low, or the reverse.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_6_windturbine">
        <annotation>
          <documentation>-- Definition --
A device that converts kinetic energy from the wind into mechanical energy.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_environmentalBarriers">
        <annotation>
          <documentation>-- Definition --
Physical structures used to protect humans and buildings in an environmental defence capacity.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_1_acousticFence">
        <annotation>
          <documentation>-- Definition --
Environmental noise barrier system.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_2_cityWall">
        <annotation>
          <documentation>-- Definition --
A fortification (usually historic) used to defend a city or settlement or used to enclose settlements.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_3_groyne">
        <annotation>
          <documentation>-- Definition --
A rigid structure built from an ocean shore or from a bank (in rivers) that interrupts water flow and limits the movement of sediment.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_4_levee">
        <annotation>
          <documentation>-- Definition --
A natural or artificial slope or wall to regulate water levels (includes dyke, embankment and floodbank).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_5_retainingWall">
        <annotation>
          <documentation>-- Definition --
A structure designed and constructed to resist the lateral pressure of soil when there is a desired change in ground elevation that exceeds the angle of repose of the soil.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_6_seaWall">
        <annotation>
          <documentation>-- Definition --
A form of coastal defence constructed where the sea impacts directly upon the landforms of the coast.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_pointOfInterest">
        <annotation>
          <documentation>-- Definition --
Physical structures with a landmark nature attracting tourist or other historical / general interest and not generally sheltering humans or activities.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_1_monument">
        <annotation>
          <documentation>-- Definition --
A structure erected to commemorate persons or events.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_2_statue">
        <annotation>
          <documentation>-- Definition --
A three-dimensional work of art usually created by sculpting, carving, moulding, or casting.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5_transport">
        <annotation>
          <documentation>-- Definition --
Physical structures used as part of transport infrastructure.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5_1_bridge">
        <annotation>
          <documentation>-- Definition --
A structure built to span a valley, road, body of water, or other physical obstacle, for the purpose of providing passage over the obstacle.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5_2_tunnel">
        <annotation>
          <documentation>-- Definition --
An underground passageway completely enclosed excepted for egress at each end.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="5_3_wharf">
        <annotation>
          <documentation>-- Definition --
A structure on the shore of a harbour where ships may dock to load and unload cargo or passengers (includes jetties, non-recreational piers and pontoons).</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ConstructionNatureValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="CurrentUse" substitutionGroup="gml:AbstractObject" type="bu-core2d:CurrentUseType">
    <annotation>
      <documentation>-- Definition --
This data type enables to detail the current use(s) of the building.</documentation>
    </annotation>
  </element>
  <complexType name="CurrentUseType">
    <sequence>
      <element name="currentUse" type="bu-core2d:CurrentUseValueType">
        <annotation>
          <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
The current use or one of the current uses of the building.
-- Description --
&lt;/div&gt;EXAMPLE: retail</documentation>
        </annotation>
      </element>
      <element name="percentage" nillable="true">
        <annotation>
          <documentation>-- Definition --
The proportion of building, given as a percentage, devoted to this current use.

-- Description --
EXAMPLE: 30 (if 30% of the building is occupied by retail activity).</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="integer">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="CurrentUsePropertyType">
    <sequence>
      <element ref="bu-core2d:CurrentUse"/>
    </sequence>
  </complexType>
  <simpleType name="CurrentUseValueType">
    <annotation>
      <documentation>-- Definition --
Code list for the current use of a building.

-- Description --
SOURCE: this code list is partly based on and adapted from the Eurostat classification of types of constructions (for the classification of residential buildings).</documentation>
    </annotation>
    <union memberTypes="bu-core2d:CurrentUseValueEnumerationType bu-core2d:CurrentUseValueOtherType"/>
  </simpleType>
  <simpleType name="CurrentUseValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Code list for the current use of a building.

-- Description --
SOURCE: this code list is partly based on and adapted from the Eurostat classification of types of constructions (for the classification of residential buildings).</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="1_residential">
        <annotation>
          <documentation>-- Definition --
Building is used for residential purpose.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_1_individualResidence">
        <annotation>
          <documentation>-- Definition --
The building hosts only one dwelling.

-- Description --
NOTE: This value includes detached houses such as bungalows, villas, chalets, forest lodges, farmhouses, country houses, summer houses, weekend houses &amp;hellip; and semi-detached or terraced houses, with each dwelling having its own roof &lt;i&gt;and&lt;/i&gt; its own entrance directly from ground surface.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_2_collectiveResidence">
        <annotation>
          <documentation>-- Definition --
The building hosts more than one dwelling.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_2_1_twoDwellings">
        <annotation>
          <documentation>-- Definition --
The building hosts two dwellings.

-- Description --
NOTE: This class includes detached houses, semi-detached or terraced houses, with two dwellings.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_2_2_moreThanTwoDwelling">
        <annotation>
          <documentation>-- Definition --
The building hosts at least 3 dwellings.

-- Description --
NOTE: This class includes flat blocks, apartment houses, with three or more dwellings but excludes residence for communities.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="1_3_residenceForCommunties">
        <annotation>
          <documentation>-- Definition --
The building hosts a residence for communities.

-- Description --
This class includes residential buildings for communities, including residences and service residences for the elderly, students, children and other social groups.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="2_agriculture">
        <annotation>
          <documentation>-- Definition --
Building is used for agricultural activities.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="3_industrial">
        <annotation>
          <documentation>-- Definition --
This value addresses the buildings dedicated to secondary sector activities (industrial).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_commerceAndServices">
        <annotation>
          <documentation>-- Definition -- 
Building is used for any service activities this value addresses the buildings dedicated to tertiary sector activities (commercial and services).

-- Description --
NOTE: This value includes both ternary sector (commercial activities) and quaternary sector (non-commercial, charity sector).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_1_office">
        <annotation>
          <documentation>-- Definition --
The building hosts offices.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_2_retail">
        <annotation>
          <documentation>-- Definition --
The building hosts retail activities.

-- Description --
EXAMPLE: Shops, supermarkets, hotels, restaurants.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="4_3_publicServices">
        <annotation>
          <documentation>-- Definition --
The building hosts public services.

-- Description --
EXAMPLES: Schools, hospitals, governmental buildings, prisons, rescue stations, transport station
NOTE: in case of a building being both office and public service (e.g. a city hall), the building should be classified preferably as public service.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="CurrentUseValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="BuildingGeometry" substitutionGroup="gml:AbstractObject" type="bu-core2d:BuildingGeometryType">
    <annotation>
      <documentation>-- Definition --
This data types includes the geometry of the building and information about which element of the building was captured and how.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingGeometryType">
    <sequence>
      <element maxOccurs="unbounded" name="geometry" type="gml:GeometricPrimitivePropertyType">
        <annotation>
          <documentation>-- Definition --
Geometric representation of the building as 2D or 2,5D data</documentation>
        </annotation>
      </element>
      <element name="horizontalGeometryEstimatedAccuracy" nillable="true">
        <annotation>
          <documentation>-- Definition --
The estimated absolute positional accuracy of the horizontal geometry of the building, in the INSPIRE official Coordinate Reference System. Absolute positional accuracy is defined as the mean value of the positional uncertainties for a set of positions where the positional uncertainties are defined as the distance between a measured position and what is considered as the corresponding true position.
-- Description --
NOTE: this mean value may come from quality measures on a homogeneous population of buildings or from an estimation based on the knowledge of the production processes and of their accuracy.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="gml:LengthType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="horizontalGeometryReference" type="bu-core2d:HorizontalGeometryReferenceValueType">
        <annotation>
          <documentation>-- Definition --
Element of the building that was captured by horizontal coordinates.</documentation>
        </annotation>
      </element>
      <element name="referenceGeometry" type="boolean">
        <annotation>
          <documentation>-- Definition --
The geometry to be taken into account by view services, for portrayal.

-- Description --
NOTE : in case of multiple representation by point and by surface, it is recommended to provide the surface as reference geometry.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="verticalGeometryEstimatedAccuracy" nillable="true">
        <annotation>
          <documentation>-- Definition --
The estimated absolute positional accuracy of the vertical geometry of the building, in the INSPIRE official Coordinate Reference System. Absolute positional accuracy is defined as the mean value of the positional uncertainties for a set of positions where the positional uncertainties are defined as the distance between a measured position and what is considered as the corresponding true position.
-- Description --
NOTE: this mean value may come from quality measures on a homogeneous population of buildings or from an estimation based on the knowledge of the production processes and of their accuracy.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="gml:LengthType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="verticalGeometryReference" type="bu-core2d:VerticalGeometryReferenceValueType">
        <annotation>
          <documentation>-- Definition --
Element of the building that was captured by vertical coordinates.

-- Description --
NOTE: this mean value may come from quality measures on a homogeneous population of buildings or from an estimation based on the knowledge of the production processes and of their accuracy.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BuildingGeometryPropertyType">
    <sequence>
      <element ref="bu-core2d:BuildingGeometry"/>
    </sequence>
  </complexType>
  <element name="DateOfEvent" substitutionGroup="gml:AbstractObject" type="bu-core2d:DateOfEventType">
    <annotation>
      <documentation>-- Definition --
This data type includes the different possible ways to define the date of an event.</documentation>
    </annotation>
  </element>
  <complexType name="DateOfEventType">
    <sequence>
      <element minOccurs="0" name="beginning" nillable="true">
        <annotation>
          <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
Date and time when the event begun.
&lt;/div&gt;</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="end" nillable="true">
        <annotation>
          <documentation>-- Definition --
Date and time when the event ended.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element minOccurs="0" name="anyPoint" nillable="true">
        <annotation>
          <documentation>-- Definition --
A date and time of any point of the event, between its beginning and its end.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="dateTime">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
    </sequence>
  </complexType>
  <complexType name="DateOfEventPropertyType">
    <sequence>
      <element ref="bu-core2d:DateOfEvent"/>
    </sequence>
  </complexType>
  <element abstract="true" name="OtherConstruction" substitutionGroup="bu-core2d:AbstractConstruction" type="bu-core2d:OtherConstructionType">
    <annotation>
      <documentation>-- Definition --
An OtherConstruction is a construction that is under scope of theme Buildings without being within feature type Building.

-- Description --
NOTE: In other words, an OtherConstruction is a construction that is generally not considered as a building in common sense but that is required by at least one of the use cases identified by TWG BU.

EXAMPLES: bridge, antenna, acoustic fence.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="OtherConstructionType">
    <complexContent>
      <extension base="bu-core2d:AbstractConstructionType">
        <sequence>
          <element name="geometry" type="gml:GeometricPrimitivePropertyType">
            <annotation>
              <documentation>-- Definition --
Geometric representation of the OtherConstruction, as 2D or 2,5D data.</documentation>
            </annotation>
          </element>
          <element name="constructionNature" type="bu-core2d:ConstructionNatureValueType">
            <annotation>
              <documentation>-- Definition -- 
A description of the feature that represents its intended nature or current function which differentiates it from that of a Building.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="OtherConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="bu-core2d:OtherConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HeightAboveGround" substitutionGroup="gml:AbstractObject" type="bu-core2d:HeightAboveGroundType">
    <annotation>
      <documentation>-- Definition --
This data types includes the height above ground of the construction and information about how this height was captured.</documentation>
    </annotation>
  </element>
  <complexType name="HeightAboveGroundType">
    <sequence>
      <element name="highReference" nillable="true">
        <annotation>
          <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
Element of the construction used as the high reference for capturing the height of the construction.
-- Description --
&lt;/div&gt;EXAMPLE: the height of the construction has been captured up to the top of construction.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="bu-core2d:ElevationReferenceValueType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="lowReference" nillable="true">
        <annotation>
          <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
Element of the construction used as the low reference for capturing the height of the construction.
-- Description --
&lt;/div&gt;EXAMPLE: the height has been captured from the lowest ground point.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="bu-core2d:ElevationReferenceValueType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="status" nillable="true">
        <annotation>
          <documentation>-- Definition --
The way the height has been captured.</documentation>
        </annotation>
        <complexType>
          <simpleContent>
            <extension base="bu-core2d:HeightStatusValueType">
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </extension>
          </simpleContent>
        </complexType>
      </element>
      <element name="value" type="gml:LengthType">
        <annotation>
          <documentation>-- Definition --
Height above ground of the construction.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="HeightAboveGroundPropertyType">
    <sequence>
      <element ref="bu-core2d:HeightAboveGround"/>
    </sequence>
  </complexType>
  <element abstract="true" name="AbstractBuilding" substitutionGroup="bu-core2d:AbstractConstruction" type="bu-core2d:AbstractBuildingType">
    <annotation>
      <documentation>-- Definition --
Abstract feature type grouping the common properties of instanciable feature types Building and BuildingPart.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractBuildingType">
    <complexContent>
      <extension base="bu-core2d:AbstractConstructionType">
        <sequence>
          <element maxOccurs="unbounded" name="geometry" type="bu-core2d:BuildingGeometryPropertyType">
            <annotation>
              <documentation>-- Definition --
&lt;font color="#0f0f0f"&gt;Geometric representation of the building.&lt;/font&gt;

&lt;font color="#0f0f0f"&gt;-- Description --&lt;/font&gt;
&lt;font color="#0f0f0f"&gt;NOTE: multiple representations of the geometry are possible (e.g. by surface and by point).&lt;/font&gt;</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="currentUse" nillable="true">
            <annotation>
              <documentation>-- Definition --
Activity hosted by the building.

-- Description --
NOTE: this attribute addresses mainly the buildings hosting human activities.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="bu-core2d:CurrentUseValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="specificInterest" nillable="true">
            <annotation>
              <documentation>-- Definition --
Characteristics of the building that makes it generally of interest for mapping purposes.

-- Description --
NOTE 1: the characteristic may be related to the physical aspect and/or to the function of the building.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="bu-core2d:SpecificInterestValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="numberOfBuildingUnits" nillable="true">
            <annotation>
              <documentation>-- Definition --
Number of building units in the building. A building unit is the sub-division of the building that is homogeneous related to management aspects.

-- Description --
EXAMPLE : A building unit may be a flat in a multi-owned building.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="numberOfDwellings" nillable="true">
            <annotation>
              <documentation>-- Definition --
Number of dwellings in the building.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="numberOfFloorsAboveGround" nillable="true">
            <annotation>
              <documentation>-- Definition --
Number of floors above ground of the building.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="integer">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractBuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="bu-core2d:AbstractBuilding"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="AbstractConstruction" substitutionGroup="gml:AbstractFeature" type="bu-core2d:AbstractConstructionType">
    <annotation>
      <documentation>-- Definition --
Abstract feature type grouping common properties of instanciable feature types Building, BuildingPart and OtherConstruction.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractConstructionType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="beginLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was inserted or changed in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="conditionOfConstruction" nillable="true">
            <annotation>
              <documentation>-- Definition --
Status of the construction related to its real world life-cycle.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="bu-core2d:ConditionOfConstructionValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element minOccurs="0" name="dateOfConstruction" nillable="true">
            <annotation>
              <documentation>&lt;font color="#008000"&gt;-&lt;/font&gt;- Definition --
Date of construction of the construction
-- Definition --
NOTE: this attribute has multiplicity 0..1 because =in case the  construction is only under project, the date of construction may not exist yet.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="bu-core2d:DateOfEvent"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="dateOfDemolition" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date of demolition of the construction,if any.

-- Note --
It is not mandatory to give neither the time nor the day or the month.</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="bu-core2d:DateOfEvent"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="dateOfRenovation" nillable="true">
            <annotation>
              <documentation>-- Definition --
&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;Date of last major renovation of the construction, if any.
&lt;/div&gt;</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="bu-core2d:DateOfEvent"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="elevation" nillable="true">
            <annotation>
              <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
Vertical-constrained dimensional property of the construction consisting of an absolute measure referenced to a well-defined surface which is commonly taken as origin (geoid, water level, etc.)
&lt;/div&gt;-- Description --
 Source: adapted from definition given by TWG EL</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="bu-core2d:Elevation"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element minOccurs="0" name="endLifespanVersion" nillable="true">
            <annotation>
              <documentation>-- Definition --
Date and time at which this version of the spatial object was superseded or retired in the spatial data set.</documentation>
            </annotation>
            <complexType>
              <simpleContent>
                <extension base="dateTime">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="externalReference" nillable="true">
            <annotation>
              <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
Reference to an external information system containing any piece of information related to the construction.
-- Description --
EXAMPLE 1: reference to another spatial data set containing another view on constructions; the externalReference may be used for instance to ensure consistency between 2D and 3D representations of the same constructions
EXAMPLE 2: reference to cadastral or dwelling register. The reference to this register may enable to find legal information related to the construction, such as the owner(s)or valuation criteria (e.g. type of heating, toilet, kitchen &amp;hellip;)
EXAMPLE 3 reference to the system recording the building permits. The reference to the building permits may be used to find detailed information about the construction physical and temporal aspects.
&lt;/div&gt;</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="bu-core2d:ExternalReference"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="heightAboveGround" nillable="true">
            <annotation>
              <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
Height above ground of the construction
-- Description --
&lt;/div&gt;NOTE: height above ground may be defined as the difference between elevation at a low reference (ground level) and elevation as a high reference (e.g. roof level, top of construction)</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="bu-core2d:HeightAboveGround"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="inspireId" type="base:IdentifierPropertyType">
            <annotation>
              <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
External unique object identifier published by the responsible body, which may be used by external applications to reference the spatial object.
-- Description --
NOTE1 External object identifiers are distinct from thematic object identifiers.
NOTE 2 The voidable version identifier attribute is not part of the unique identifier of a spatial object and may be used to distinguish two versions of the same spatial object.
&lt;/div&gt;NOTE 3 The unique identifier will not change during the life-time of a spatial object.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="name" nillable="true">
            <annotation>
              <documentation>-- Definition --
Name of the construction.
-- Description --
Examples:  Big Ben, Eiffel Tower</documentation>
            </annotation>
            <complexType>
              <sequence>
                <element ref="gn:GeographicalName"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="addresses" nillable="true">
            <annotation>
              <documentation>-- Definition --
The address(es) of the construction.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="ad:Address"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="cadastralParcels" nillable="true">
            <annotation>
              <documentation>-- Definition --
The cadastral parcel(s) of the construction.</documentation>
            </annotation>
            <complexType>
              <sequence minOccurs="0">
                <element ref="cp:CadastralParcel"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
              <attributeGroup ref="gml:OwnershipAttributeGroup"/>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractConstructionPropertyType">
    <sequence minOccurs="0">
      <element ref="bu-core2d:AbstractConstruction"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="VerticalGeometryReferenceValueType">
    <annotation>
      <documentation>-- Definition --
Code list for the element of the building that has been considered to capture its vertical geometry.</documentation>
    </annotation>
    <union memberTypes="bu-core2d:VerticalGeometryReferenceValueEnumerationType bu-core2d:VerticalGeometryReferenceValueOtherType"/>
  </simpleType>
  <simpleType name="VerticalGeometryReferenceValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Code list for the element of the building that has been considered to capture its vertical geometry.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="footprint">
        <annotation>
          <documentation>-- Definition --
The building vertical coordinates have been captured using the footprint of the building, i.e. at ground level.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="roofedge">
        <annotation>
          <documentation>-- Definition --
The building vertical coordinates have been captured using the roof edges of the building.
-- Description --
Note: this value may be used more generally when the building vertical coordinates have been captured at roof level.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="VerticalGeometryReferenceValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Building" substitutionGroup="bu-core2d:AbstractBuilding" type="bu-core2d:BuildingType">
    <annotation>
      <documentation>-- Definition --
A Building is an enclosed construction above and/or underground, used or intended for the shelter of humans, animals or things or for the production of economic goods. A building refers to any structure permanently constructed or erected on its site.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingType">
    <complexContent>
      <extension base="bu-core2d:AbstractBuildingType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="parts">
            <annotation>
              <documentation>-- Definition --
The building parts.</documentation>
            </annotation>
            <complexType>
              <complexContent>
                <extension base="gml:AbstractMemberType">
                  <sequence minOccurs="0">
                    <element ref="bu-core2d:BuildingPart"/>
                  </sequence>
                  <attributeGroup ref="gml:AssociationAttributeGroup"/>
                </extension>
              </complexContent>
            </complexType>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="bu-core2d:Building"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <simpleType name="ElevationReferenceValueType">
    <annotation>
      <documentation>-- Definition --
Code list for the element of the building that has been considered to capture its vertical geometry.</documentation>
    </annotation>
    <union memberTypes="bu-core2d:ElevationReferenceValueEnumerationType bu-core2d:ElevationReferenceValueOtherType"/>
  </simpleType>
  <simpleType name="ElevationReferenceValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Code list for the element of the building that has been considered to capture its vertical geometry.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="entrancePoint">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the entrance of the building, generally the bottom of entrance door.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalEave">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at eave level, anywhere between the lowest and the highest eave levels of the construction.

-- Description --
NOTE: in case of symmetric buildings, values generalEave, lowestEave and highestEave are equivalent.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalGround">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at ground level, anywhere between the lowest and the highest ground points of the construction.

-- Description --
In case of buildings located on flat areas, values generalGround, lowestGroundPoint and highestGroundPoint are equivalent.

NOTE: in case of buildings located on flat areas, values generalGround, lowestGroundPoint and highestGroundPoint are equivalent</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalRoof">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at roof level, anywhere between the lowest edge roof level and the top of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="generalRoofEdge">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at roof edge level, anywhere between the lowest and the highest roof edges of the construction.

-- Description --
NOTE: in case of symmetric buildings, values generalRoofEdge, lowestRoofEdge and highestRoofEdge are equivalent.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestEave">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the highest eave level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestGroundPoint">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the highest ground point of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestPoint">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the highest point of the construction, including the installations, such as chimneys and antennas.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="highestRoofEdge">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the highest roof edge level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestEave">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the lowest eave level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestGroundPoint">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the lowest ground point level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lowestRoofEdge">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the lowest roof edge level of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="topOfConstruction">
        <annotation>
          <documentation>-- Definition --
The elevation has been captured at the  top level of the construction.

-- Description --
NOTE: for buildings, it is generally top of the roof.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ElevationReferenceValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="Elevation" substitutionGroup="gml:AbstractObject" type="bu-core2d:ElevationType">
    <annotation>
      <documentation>-- Definition --
This data types includes the elevation of the construction and information about how this elevation was measured.</documentation>
    </annotation>
  </element>
  <complexType name="ElevationType">
    <sequence>
      <element name="elevationReference">
        <annotation>
          <documentation>&lt;div style="border-style: none; position: relative; z-index: 1; left: 0px; width: 696px; height: 0px; "&gt;-- Definition --
Element of the construction where the elevation was measured
&lt;/div&gt;</documentation>
        </annotation>
        <complexType>
          <complexContent>
            <extension base="gml:AbstractMemberType">
              <sequence minOccurs="0">
                <element ref="el-bas:ElevationReference"/>
              </sequence>
              <attributeGroup ref="gml:AssociationAttributeGroup"/>
            </extension>
          </complexContent>
        </complexType>
      </element>
      <element name="elevationReferenceSystem" type="el-bas:ElevationCRSReferencePropertyType">
        <annotation>
          <documentation>-- Definition --
The reference system in which the elevation was measured.
-- Description --
NOTE: when it is possible, use of EVRS is strongly recommended</documentation>
        </annotation>
      </element>
      <element name="value" type="gml:LengthType">
        <annotation>
          <documentation>-- Definition --
Elevation of the construction.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="ElevationPropertyType">
    <sequence>
      <element ref="bu-core2d:Elevation"/>
    </sequence>
  </complexType>
  <simpleType name="ConditionOfConstructionValueType">
    <annotation>
      <documentation>-- Definition --
Code list for the condition of a construction.</documentation>
    </annotation>
    <union memberTypes="bu-core2d:ConditionOfConstructionValueEnumerationType bu-core2d:ConditionOfConstructionValueOtherType"/>
  </simpleType>
  <simpleType name="ConditionOfConstructionValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Code list for the condition of a construction.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="declined">
        <annotation>
          <documentation>-- Definition --
The construction can not be used under normal conditions, though its main elements (walls, roof) are still present.

EXAMPLE: a house whose windows have been for a long time broken or walled up (even if occupied by squatters).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="demolished">
        <annotation>
          <documentation>-- Definition --
The construction has been demolished. There are no more visible remains.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="functional">
        <annotation>
          <documentation>-- Definition --
The construction is functional.
-- Description --
Note: the construction may be used under normal conditions for its current use value(s).</documentation>
        </annotation>
      </enumeration>
      <enumeration value="projected">
        <annotation>
          <documentation>-- Definition --
The construction is being designed. Construction has not yet started.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="ruin">
        <annotation>
          <documentation>-- Definition --
The construction has been partly demolished and some main elements (roof, walls) have been destroyed. There are some visible remains of the construction.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="underConstruction">
        <annotation>
          <documentation>-- Definition --
The construction is under construction and not yet functional. This applies only to the initial construction of the construction and not to maintenance work.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="ConditionOfConstructionValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="SpecificInterestValueType">
    <annotation>
      <documentation>-- Definition --
Specific interest values.</documentation>
    </annotation>
    <union memberTypes="bu-core2d:SpecificInterestValueEnumerationType bu-core2d:SpecificInterestValueOtherType"/>
  </simpleType>
  <simpleType name="SpecificInterestValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Specific interest values.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="arch">
        <annotation>
          <documentation>-- Definition --
A structure that spans a space while supporting weight usually round in nature.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="bunker">
        <annotation>
          <documentation>-- Definition --
A facility, partly underground, intented or used by the military either for location of command/control centers or for troup encampment.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="castle/Fort">
        <annotation>
          <documentation>-- Definition --
A type of fortified structure usually with battlements.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="lighthouse">
        <annotation>
          <documentation>-- Definition --
A tower or structure designed to emit light from a system of lamps and lenses.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="openAirPool">
        <annotation>
          <documentation>-- Definition --
A swimming-pool that is not covered.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="religiousBuilding">
        <annotation>
          <documentation>-- Definition --
A  building or structure whose primary purpose is to facilitate the meeting of a religious sect.

-- Description --
EXAMPLES: Church, temple, pagoda, mosque, cathedral, synagogue.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="silo">
        <annotation>
          <documentation>-- Definition --
A cylindrical structure for storing bulk materials a cylindrical structure for storing bulk materials.
--Description --
EXAMPLES: Grain, cement storage.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="stadium">
        <annotation>
          <documentation>-- Definition --
A place or venue for sports, concerts or other events and consists of a field or stage either partly or completely surrounded by a structure designed to allow spectators to stand or sit and view the event.
-- Description --
EXAMPLES: Arena, amphitheatre, stadium.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="storageTank">
        <annotation>
          <documentation>-- Definition --
A container usually for holding liquids and compressed gases.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="tower">
        <annotation>
          <documentation>-- Definition -- 
A tall structure that is cantilevered from the base.

-- Description --
EXAMPLES: Clock tower, church tower, control tower, minaret.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="windmill">
        <annotation>
          <documentation>-- Definition --
A machine which converts the energy of the wind into rotational motion by means of adjustable sails or blades.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="SpecificInterestValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HorizontalGeometryReferenceValueType">
    <annotation>
      <documentation>-- Definition -- 
Code list for the element of the building that has been considered to capture its horizontal geometry.</documentation>
    </annotation>
    <union memberTypes="bu-core2d:HorizontalGeometryReferenceValueEnumerationType bu-core2d:HorizontalGeometryReferenceValueOtherType"/>
  </simpleType>
  <simpleType name="HorizontalGeometryReferenceValueEnumerationType">
    <annotation>
      <documentation>-- Definition -- 
Code list for the element of the building that has been considered to capture its horizontal geometry.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="aboveGroundEnvelope">
        <annotation>
          <documentation>-- Definition --
The building horizontal geometry has been captured using the above ground envelope  of the building, i.e. the maximum extend of the building above ground.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="envelope">
        <annotation>
          <documentation>-- Definition --
The building horizontal geometry has been captured using the whole envelope  of the building, i.e. the maximum extend of the building above and under ground.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="entrancePoint">
        <annotation>
          <documentation>-- Definition --
The building geometry is represented by a pointlocated at  the entrance of the building.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="footPrint">
        <annotation>
          <documentation>-- Definition -- 
The building horizontal geometry has been captured using the footprint of the building, i.e. its extend at ground level.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="roofEdge">
        <annotation>
          <documentation>-- Definition --
The building horizontal geometry has been captured using the roof edges of the building.
-- Description --
Note: this value may be used more generally when the building horizontal geometry has been captured by the roof extend.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pointInsideBuilding">
        <annotation>
          <documentation>-- Definition --
The building horizontal geometry is represented by a point located within the building.</documentation>
        </annotation>
      </enumeration>
      <enumeration value="pointInsideCadastralParcel">
        <annotation>
          <documentation>-- Definition --
The building horizontal geometry is represented by a point located within the parcel the building belongs to.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HorizontalGeometryReferenceValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <simpleType name="HeightStatusValueType">
    <annotation>
      <documentation>-- Definition --
Method used to capture height of a building.</documentation>
    </annotation>
    <union memberTypes="bu-core2d:HeightStatusValueEnumerationType bu-core2d:HeightStatusValueOtherType"/>
  </simpleType>
  <simpleType name="HeightStatusValueEnumerationType">
    <annotation>
      <documentation>-- Definition --
Method used to capture height of a building.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="estimated">
        <annotation>
          <documentation>-- Definition --
The height has been estimated and not measured.

EXAMPLE: Typically, the height has been estimated from the number of floors</documentation>
        </annotation>
      </enumeration>
      <enumeration value="measured">
        <annotation>
          <documentation>-- Definition --
The height has been (directly or indirectly) measured.

EXAMPLE: typically, the elevation at ground level and at roof level has been measured by stereo-plotting or by field survey or by cross-referencing with DTM.</documentation>
        </annotation>
      </enumeration>
    </restriction>
  </simpleType>
  <simpleType name="HeightStatusValueOtherType">
    <restriction base="string">
      <pattern value="other: \w{2,}"/>
    </restriction>
  </simpleType>
  <element name="BuildingPart" substitutionGroup="bu-core2d:AbstractBuilding" type="bu-core2d:BuildingPartType">
    <annotation>
      <documentation>-- Definition --
A BuildingPart is a sub-division of a Building that is homogeneous related to its physical, functional or temporal aspects.

-- Description --

NOTE: A BuildingPart may be considered as a building (as buildings and building parts share same set of properties).

EXAMPLE:A Building may be composed of two BuildingParts having different heights.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingPartType">
    <complexContent>
      <extension base="bu-core2d:AbstractBuildingType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingPartPropertyType">
    <sequence minOccurs="0">
      <element ref="bu-core2d:BuildingPart"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
