draft-schemas/hh/2.0/HumanHealth.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ef="http://inspire.jrc.ec.europa.eu/schemas/ef/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:hh="http://inspire.jrc.ec.europa.eu/schemas/hh/2.0" xmlns:sd="http://inspire.jrc.ec.europa.eu/schemas/sd/2.0" xmlns:su-core="http://inspire.jrc.ec.europa.eu/schemas/su-core/2.0" elementFormDefault="qualified" targetNamespace="http://inspire.jrc.ec.europa.eu/schemas/hh/2.0" version="2.0">
  <annotation>
    <documentation>Application Schema for Human Health and Safety</documentation>
  </annotation>
  <import namespace="http://inspire.jrc.ec.europa.eu/schemas/ef/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/ef/2.0/EnvironmentalMonitoringFacilities.xsd"/>
  <import namespace="http://inspire.jrc.ec.europa.eu/schemas/sd/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/sd/2.0/SpeciesDistribution.xsd"/>
  <import namespace="http://inspire.jrc.ec.europa.eu/schemas/su-core/2.0" schemaLocation="https://inspire.ec.europa.eu/draft-schemas/su-core/2.0/StatisticalUnitCore.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="GeneralHealthStatistics" substitutionGroup="hh:HealthStatisticalData" type="hh:GeneralHealthStatisticsType">
    <annotation>
      <documentation>-- Definition --
Numbers about some aspects of health related to a population or an area. For the purpose of this data model, 'general health' data include issues such as self-perceived health, demographic distribution of various health problems, smokers, etc., expressed as raw numbers, rates, percentage, stratified by gender, age, and/or socio-economic, cultural, ethnic or other factors.</documentation>
    </annotation>
  </element>
  <complexType name="GeneralHealthStatisticsType">
    <complexContent>
      <extension base="hh:HealthStatisticalDataType">
        <sequence>
          <element name="generalHealthName" type="gml:CodeType"/>
          <element name="ageRange" nillable="true">
            <complexType>
              <sequence>
                <element ref="hh:AgeRangeType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="gender" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="hh:GenderTypeValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="generalHealthValue" type="double"/>
          <element name="referencePeriod" type="hh:ReferencePeriodTypePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="GeneralHealthStatisticsPropertyType">
    <sequence minOccurs="0">
      <element ref="hh:GeneralHealthStatistics"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Age" substitutionGroup="gml:AbstractObject" type="hh:AgeType">
    <annotation>
      <documentation>-- Name --
Age.

-- Definition -- 
People age can be expressed in various ways (for instance years for adults,  months or weeks for infants).</documentation>
    </annotation>
  </element>
  <complexType name="AgeType">
    <choice>
      <element name="year" type="integer"/>
      <element name="month" type="integer"/>
      <element name="week" type="integer"/>
    </choice>
  </complexType>
  <complexType name="AgePropertyType">
    <sequence>
      <element ref="hh:Age"/>
    </sequence>
  </complexType>
  <element name="BiomarkerThematicMetadata" substitutionGroup="gml:AbstractObject" type="hh:BiomarkerThematicMetadataType">
    <annotation>
      <documentation>-- Definition --
Thematic Metadata describing purpose of the study, target population and the characteristic of the studied areas.</documentation>
    </annotation>
  </element>
  <complexType name="BiomarkerThematicMetadataType">
    <sequence>
      <element minOccurs="0" name="studyType" type="string">
        <annotation>
          <documentation>-- Definition --
The study aim (hypothesis driven, general population survey, opportunistic) when these choices are predefined.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="areaType" type="string">
        <annotation>
          <documentation>-- Definition --
The characteristics of the sampling area (urban, rural, semi-urban) when these choices are predefined in a human biomonitoring study.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="specificSubPopulation" type="string">
        <annotation>
          <documentation>-- Definition --
The characteristics of the sampled population with respect to age, gender, and other population characteristics when these choices are predefined in a human biomonitoring survey.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BiomarkerThematicMetadataPropertyType">
    <sequence>
      <element ref="hh:BiomarkerThematicMetadata"/>
    </sequence>
  </complexType>
  <element name="EnvHealthDeterminantStatistical" substitutionGroup="gml:AbstractFeature" type="hh:EnvHealthDeterminantStatisticalType">
    <annotation>
      <documentation>-- Definition --
Data on particular environmental component type aggregated over statistical unit; involve measured and modeled data.</documentation>
    </annotation>
  </element>
  <complexType name="EnvHealthDeterminantStatisticalType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="envHealthDeterminantType" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
type of environmental data considered, such as air quality, bathing water (fresh- and coastal) quality, surface-, ground-, and/or drinking  water quality, noise, as defined in thematic environmental legislation, as well as other environmental data collected under different reporting schema, such as radon (in buildings), pollen, UV, etc.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="envHealthComponentType" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
particular component type (chemical substance, biological species, etc) considered in specific environmental media (for example: SO2 in ambient air, lead in drinking water, benzo-a-pyrene in indoor air, ragweed pollens in ambient air, etc).</documentation>
            </annotation>
          </element>
          <element name="envHealthIndicatorType" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
type of indicator which presents processed environmental data, based on agreed indicator methodology (may involve measured and modeled data) (see Annex B for examples).</documentation>
            </annotation>
          </element>
          <element name="value" type="gml:MeasureType"/>
          <element name="referencePeriod" type="hh:ReferencePeriodTypePropertyType"/>
          <element minOccurs="0" name="StatisticalUnit" type="su-core:StatisticalUnitPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnvHealthDeterminantStatisticalPropertyType">
    <sequence minOccurs="0">
      <element ref="hh:EnvHealthDeterminantStatistical"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Disease" substitutionGroup="hh:HealthStatisticalData" type="hh:DiseaseType">
    <annotation>
      <documentation>-- Definition --
All categories of diseases, health-related conditions and external causes of disease and injury, as classified in the International Statistical Classification of Diseases and Related Health Problems, 10th Revision (ICD-10).
For practical reasons, a short term &amp;lsquo;disease&amp;rsquo; is used in a data model to label all conditions covered by this definition.</documentation>
    </annotation>
  </element>
  <complexType name="DiseaseType">
    <complexContent>
      <extension base="hh:HealthStatisticalDataType">
        <sequence>
          <element name="ageRange" nillable="true">
            <complexType>
              <sequence>
                <element ref="hh:AgeRangeType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="diseaseMeasure" type="hh:DiseaseMeasureTypePropertyType"/>
          <element name="diseaseName" type="gml:CodeType"/>
          <element name="gender" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="hh:GenderTypeValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="referencePeriod" type="hh:ReferencePeriodTypePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DiseasePropertyType">
    <sequence minOccurs="0">
      <element ref="hh:Disease"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="AgeRangeType" substitutionGroup="gml:AbstractObject" type="hh:AgeRangeTypeType">
    <annotation>
      <documentation>-- Definition --
Age interval of a specific subpopulation expressed as starting age and an interval, both alternatively expressed in years, months or weeks.</documentation>
    </annotation>
  </element>
  <complexType name="AgeRangeTypeType">
    <sequence>
      <element name="startAge" type="sd:RangeTypePropertyType"/>
      <element name="range" type="hh:AgePropertyType"/>
    </sequence>
  </complexType>
  <complexType name="AgeRangeTypePropertyType">
    <sequence>
      <element ref="hh:AgeRangeType"/>
    </sequence>
  </complexType>
  <element name="ReferencePeriodType" substitutionGroup="gml:AbstractObject" type="hh:ReferencePeriodTypeType"/>
  <complexType name="ReferencePeriodTypeType">
    <sequence>
      <element name="startDate" type="dateTime"/>
      <element name="endDate" type="dateTime"/>
    </sequence>
  </complexType>
  <complexType name="ReferencePeriodTypePropertyType">
    <sequence>
      <element ref="hh:ReferencePeriodType"/>
    </sequence>
  </complexType>
  <simpleType name="GenderTypeValueType">
    <annotation>
      <documentation>-- Definition --
Gender structure of a population considered.</documentation>
    </annotation>
    <restriction base="string">
      <enumeration value="female"/>
      <enumeration value="male"/>
      <enumeration value="unknown"/>
    </restriction>
  </simpleType>
  <element name="BiomarkerStatisticalParameterType" substitutionGroup="gml:AbstractObject" type="hh:BiomarkerStatisticalParameterTypeType">
    <annotation>
      <documentation>-- Definition --
A set of statistical features of a biomarker measured for one specific biomarker.</documentation>
    </annotation>
  </element>
  <complexType name="BiomarkerStatisticalParameterTypeType">
    <sequence>
      <element minOccurs="0" name="geometricMean" type="gml:MeasureType">
        <annotation>
          <documentation>-- Definition --
The geometric mean is a type of average which is calculated by multiplying all n individual biomarker measurements, and then taking the nth root (where n is the count of numbers in the set).</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="CI95ofGM" type="gml:MeasureType">
        <annotation>
          <documentation>-- Definition --
95% confidence interval of the geometric mean.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="P50" type="gml:MeasureType">
        <annotation>
          <documentation>-- Definition -- 
The 50&lt;sup&gt;th&lt;/sup&gt; Percentile or the median value below which 50 percent of the observations may be found.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="P90" type="gml:MeasureType">
        <annotation>
          <documentation>-- Definition -- 
The 90&lt;sup&gt;th&lt;/sup&gt; Percentile or the median value below which 90 percent of the observations may be found.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="maximum" type="gml:MeasureType">
        <annotation>
          <documentation>-- Definition --
The highest biomarker value determined in an individual participant to the biomonitoring survey.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="numberPartecipants" type="integer">
        <annotation>
          <documentation>-- Definition --
The number of participants that have provided samples that have contributed to the calculation of the other features of &amp;ldquo;Biomarkerstatisticalparameter&amp;rdquo;.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="LOD" type="double">
        <annotation>
          <documentation>-- Definition --
Proportion of individuals with undetectable levels of tested parameter (below limit of detection).</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BiomarkerStatisticalParameterTypePropertyType">
    <sequence>
      <element ref="hh:BiomarkerStatisticalParameterType"/>
    </sequence>
  </complexType>
  <element name="DiseaseMeasureType" substitutionGroup="gml:AbstractObject" type="hh:DiseaseMeasureTypeType">
    <annotation>
      <documentation>-- Definition --
Different ways how data on diseases and related health problems in a population can be reported.</documentation>
    </annotation>
  </element>
  <complexType name="DiseaseMeasureTypeType">
    <sequence>
      <element minOccurs="0" name="incidence" type="double">
        <annotation>
          <documentation>-- Definition --
the number of new cases of a condition, symptom, death, or injury that develop during a specific time period, such as a year. The number is often expressed as a percentage of a population. (ref.: http://www.nlm.nih.gov/medlineplus/ency/article/002387.htm)</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="prevalence" type="double">
        <annotation>
          <documentation>-- Definition --
The proportion of individuals in a population having a disease. Prevalence is a statistical concept referring to the number of cases of a disease that are present in a particular population at a given time.
(ref.: http://www.medterms.com/script/main/art.asp?articlekey=11697) .</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="mortality" type="double">
        <annotation>
          <documentation>-- Definition --
Data on death; often expressed as mortality (death) rate, which is an estimate of the proportion of a population that dies during a specified period. Mortality (death) statistics usually show numbers of death ad/or rates by age, sex, cause, and sometimes other variables. Different types of mortality (death) rates are available, for example infant mortality rate (the number of children dying under a year of age divided by the number of live births that year).
Ref.: Porta M (Ed.). A Dictionary of Epidemiology. IEA, 2008. Oxford University Press.</documentation>
        </annotation>
      </element>
      <element minOccurs="0" name="outbreak" type="double">
        <annotation>
          <documentation>-- Definition --
An epidemic limited to localized increase in the incidence of a disease; e.g. in a village, town, or closed institution.
Ref.: Porta M (Ed.). A Dictionary of Epidemiology. IEA, 2008. Oxford University Press.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="DiseaseMeasureTypePropertyType">
    <sequence>
      <element ref="hh:DiseaseMeasureType"/>
    </sequence>
  </complexType>
  <element name="Biomarker" substitutionGroup="hh:HealthStatisticalData" type="hh:BiomarkerType">
    <annotation>
      <documentation>-- Definition --
A biomarker (of exposure) is the concentration of a chemical, its metabolite or the product of an interaction between a chemical and some target molecule or cell that is measured in a compartment in an organism.</documentation>
    </annotation>
  </element>
  <complexType name="BiomarkerType">
    <complexContent>
      <extension base="hh:HealthStatisticalDataType">
        <sequence>
          <element name="ageRange" nillable="true">
            <complexType>
              <sequence>
                <element ref="hh:AgeRangeType"/>
              </sequence>
              <attribute name="nilReason" type="gml:NilReasonType"/>
            </complexType>
          </element>
          <element name="gender" nillable="true">
            <complexType>
              <simpleContent>
                <extension base="hh:GenderTypeValueType">
                  <attribute name="nilReason" type="gml:NilReasonType"/>
                </extension>
              </simpleContent>
            </complexType>
          </element>
          <element name="biomarkerName" type="hh:BiomarkerTypePropertyType">
            <annotation>
              <documentation>-- Definition --
It is the unique identifier for a biomarker, providing information on (1) the chemical that is determined and (2) the matrix in which the chemical was determined.</documentation>
            </annotation>
          </element>
          <element name="biomarkerStatisticalParameter" type="hh:BiomarkerStatisticalParameterTypePropertyType">
            <annotation>
              <documentation>-- Definition --
The statistical summary of a human biomonitoring study, representing the most important statistical features of a biomarker measured in that particular study.</documentation>
            </annotation>
          </element>
          <element name="referencePeriod" type="hh:ReferencePeriodTypePropertyType"/>
          <element minOccurs="0" name="metadata" type="hh:BiomarkerThematicMetadataPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BiomarkerPropertyType">
    <sequence minOccurs="0">
      <element ref="hh:Biomarker"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="EnvHealthDeterminantObservation" substitutionGroup="ef:EnvironmentalMonitoringFacility" type="hh:EnvHealthDeterminantObservationType">
    <annotation>
      <documentation>-- Definition --
Point (raw) data on a measured environmental componentt type (for example, PM10 concentration measured in air monitoring station).</documentation>
    </annotation>
  </element>
  <complexType name="EnvHealthDeterminantObservationType">
    <complexContent>
      <extension base="ef:EnvironmentalMonitoringFacilityType">
        <sequence>
          <element minOccurs="0" name="EnvHealthdeterminantStatistical" type="hh:EnvHealthDeterminantStatisticalPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="EnvHealthDeterminantObservationPropertyType">
    <sequence minOccurs="0">
      <element ref="hh:EnvHealthDeterminantObservation"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element abstract="true" name="HealthStatisticalData" substitutionGroup="gml:AbstractFeature" type="hh:HealthStatisticalDataType">
    <annotation>
      <documentation>-- Definition --
include a range of human health related data, from recorded diseases and related health problems (according to internationally accepted code lists, such as ICD-10), expressed as morbidity and mortality, to data on general health status (BMI, self perceived health, etc.), data on health care services (health care expenditure, day cases, etc.), and data on biomarkers; these are statistical indices aggregated at different statistical units, collected/reported in different population groups. Inclusion of human biomonitoring data provides an opportunity to explore potential direct or indirect links between human health and the environment.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="HealthStatisticalDataType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="StatisticalUnit" type="su-core:StatisticalUnitPropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HealthStatisticalDataPropertyType">
    <sequence minOccurs="0">
      <element ref="hh:HealthStatisticalData"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="HealthServicesStatistic" substitutionGroup="hh:HealthStatisticalData" type="hh:HealthServicesStatisticType">
    <annotation>
      <documentation>-- Definition --
Health Care/Services statistical data on NUTS 1 and 2 level and municipality.</documentation>
    </annotation>
  </element>
  <complexType name="HealthServicesStatisticType">
    <complexContent>
      <extension base="hh:HealthStatisticalDataType">
        <sequence>
          <element name="healthServiceType" type="gml:CodeType">
            <annotation>
              <documentation>-- Definition --
Type of  statistical data about Health services  included and defined by Eurostat as "Non-expenditure health care data" (http://epp.eurostat.ec.europa.eu/cache/ITY_SDDS/EN/hlth_care_esms.htm).</documentation>
            </annotation>
          </element>
          <element name="healthServiceValue" type="double"/>
          <element name="referencePeriod" type="hh:ReferencePeriodTypePropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="HealthServicesStatisticPropertyType">
    <sequence minOccurs="0">
      <element ref="hh:HealthServicesStatistic"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="BiomarkerType" substitutionGroup="gml:AbstractObject" type="hh:BiomarkerTypeType">
    <annotation>
      <documentation>-- Definition --
A biomarker is defined both by a quantified/determined chemical (e.g. cadmium, lead) or its metabolite, and a matrix (e.g. blood, urine) that is used for quantification; for example - cadmium in urine, lead in blood.</documentation>
    </annotation>
  </element>
  <complexType name="BiomarkerTypeType">
    <sequence>
      <element name="chemical" type="gml:CodeType">
        <annotation>
          <documentation>-- Definition --
Identification of the compound by name or abbreviation, chemical formula, CAS-PubChem or any other number that is quantified by the measurement.</documentation>
        </annotation>
      </element>
      <element name="matrix" type="gml:CodeType">
        <annotation>
          <documentation>-- Definition --
Type of of biological material or body compartment that is sampled to determine/quantify a biomarker.</documentation>
        </annotation>
      </element>
    </sequence>
  </complexType>
  <complexType name="BiomarkerTypePropertyType">
    <sequence>
      <element ref="hh:BiomarkerType"/>
    </sequence>
  </complexType>
</schema>
