draft-schemas/bu/2.0/Buildings.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:bu="http://inspire.jrc.ec.europa.eu/schemas/bu/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:tn-a="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" elementFormDefault="qualified" targetNamespace="http://inspire.jrc.ec.europa.eu/schemas/bu/2.0" version="2.0">
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
  <import namespace="urn:x-inspire:specification:gmlas:AirTransportNetwork:3.0" schemaLocation="https://inspire.ec.europa.eu/schemas/tn-a/3.0/AirTransportNetwork.xsd"/>
  <!--XML Schema document created by ShapeChange-->
  <element name="ControlTower" substitutionGroup="gml:AbstractFeature" type="bu:ControlTowerType">
    <annotation>
      <documentation>-- Definition --
Aerodrome control tower [Unit.Type='TWR' - AIXM5.0].

-- Description --
NOTE Point representing the situation of a Control Tower belonging to an aerodrome (airport/heliport), used to manage aircraft traffic in the runways and nearest airspace to the aerodrome.</documentation>
    </annotation>
  </element>
  <complexType name="ControlTowerType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence>
          <element name="airportHeliport" nillable="true" type="gml:ReferenceType">
            <annotation>
              <documentation>-- Definition --
The aerodrome (airport/heliport) to which the control tower belongs.</documentation>
              <appinfo>
                <targetElement xmlns="http://www.opengis.net/gml/3.2">tn-a:AerodromeNode</targetElement>
                <reversePropertyName xmlns="http://www.opengis.net/gml/3.2">tn-a:controlTowers</reversePropertyName>
              </appinfo>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="ControlTowerPropertyType">
    <sequence minOccurs="0">
      <element ref="bu:ControlTower"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
  <element name="Building" substitutionGroup="gml:AbstractFeature" type="bu:BuildingType">
    <annotation>
      <documentation>-- Definition --
A building is a covered facility, usable for the protection of humans, animals, things or the production of economic goods. A building refers to any structure permanently constructed or erected on its site.</documentation>
    </annotation>
  </element>
  <complexType name="BuildingType">
    <complexContent>
      <extension base="gml:AbstractFeatureType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="BuildingPropertyType">
    <sequence minOccurs="0">
      <element ref="bu:Building"/>
    </sequence>
    <attributeGroup ref="gml:AssociationAttributeGroup"/>
    <attributeGroup ref="gml:OwnershipAttributeGroup"/>
  </complexType>
</schema>
